/* Default Style */

@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*
@font-face {
	font-family:'ng';
	src:url('../font/NanumGothic-Regular.eot');
	src:local(â€»),
		url('../font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumGothic-Regular.woff') format('woff'),
		url('../font/NanumGothic-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'ng_b';
	src:url('../font/NanumGothic-Bold.eot');
	src:local(â€»),
		url('../font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumGothic-Bold.woff') format('woff'),
		url('../font/NanumGothic-Bold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}*/

* 	 		{margin:0; padding:0; box-sizing: unset !important; }
body		{color:#666; font-size:16px; line-height:22px;}
ul,ol,li	{list-style:none;}
img,hr		{border:none;}
img			{vertical-align:top; border:0px; }
ins			{text-decoration:none;}

table 			{border-collapse:collapse; border-spacing:0; width:100%; table-layout:fixed;}
table td img	{vertical-align:middle;}

a			{color: #0053b0;/*vertical-align:middle;*/ text-decoration:none !important;}
a:link		{text-decoration:none !important; color:inherit;}
a:visited	{text-decoration:none; color:inherit;}
a:active	{text-decoration:none; color:inherit;}
a:hover		{text-decoration:none; color:inherit;}

/* tag all font-size set */
/* html5 tag (article,aside,bdi,details,dialog,figcaption,figure,footer,header,main,mark,menuitem,meter,nav,progress,rp,rt,ruby,section,summary,time,wbr) */
body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label {font-family:'Nanum Gothic', dotum, Arial, sans-serif;}
strong,h1,h2,h3,h4,h5,h6,th,b,dt {_font-family:'ng_b'; font-size:inherit; color:inherit; font-weight:bold !important;}

input					{vertical-align:middle; outline:none;}
input[type='text'],
input[type='password']  {display:inline-block; height:50px; padding:0 0 0 5px; border:1px solid #dfdfdf; background-color:#fff; font-size:16px; color:#666; line-height:50px;}
select					{display:inline-block; height:52px; padding:0 0 0 5px; border:1px solid #dfdfdf; background-color:#fff; font-size:16px; color:#666; line-height:52px; outline:none;vertical-align:middle;}
textarea				{display:inline-block; padding:5px; border:solid 1px #dfdfdf; background-color:#fff; font-size:16px; color:#666; line-height:20px; outline:none;}
input[type='file'],
input[type='image'],
input[type='reset'],
input[type='button'],
input[type='submit'] {cursor:pointer;}

hr, caption		{position:absolute; left:-9999px; top:-9999px;}
caption         {display:none;}
legend			{position:absolute; height:0; font-size:0px; line-height:0; overflow:hidden; text-indent:-9999px;}
address,cite,em	{font-style:normal;}
fieldset		{border:0; padding:0;}
label			{cursor:pointer;}

.rdo_box {display:inline-block; position:relative; padding-left:16px;}
.rdo_box input {width:13px; height:13px; position:absolute; top:5px; left:0;}
.rdo_box label {line-height:22px;}

.chk_box {display:inline-block; position:relative; padding-left:16px;}
.chk_box input {width:13px; height:13px; position:absolute; top:5px; left:0;}
.chk_box label {line-height:22px;}

.btn_area {width:100%; overflow:hidden; text-align:center;}
.both_area {width:100%; overflow:hidden;}
.both_area2 {width:100%; display:inline-block;}

.block_btn {display:inline-block; height:30px; border:0; line-height:30px; color:#fff !important; text-align:center; cursor:pointer; outline:none;}
.block_btn.gray {background-color:#333;}

.ta_l {text-align:left !important;}
.ta_c {text-align:center !important;}
.ta_r {text-align:right !important;}

.fl_l {float:left;}
.fl_c {display:inline-block; *display:inline; zoom:1;}
.fl_r {float:right;}

.inline {display:inline;}
.inline_b {display:inline-block;}

.bold {font-weight:bold !important;}
.none_bold {font-weight:normal !important;}

.c_red {color:#e63838 !important;}
.c_fff {color:#fff !important;}
.c_000 {color:#000 !important;}
.c_111 {color:#111 !important;}
.c_222 {color:#222 !important;}
.c_333 {color:#333 !important;}
.c_444 {color:#444 !important;}
.c_555 {color:#555 !important;}
.c_666 {color:#666 !important;}
.c_777 {color:#777 !important;}
.c_888 {color:#888 !important;}
.c_999 {color:#999 !important;}

.hide	{position:absolute; left:-9999px; top:-9999px; font-size:0; line-height:0; height:0; overflow:hidden;}
.hide1	{position:relative; z-index:-1;}

/* custom select */
.sod_select {border:1px solid #ccc; background-color:#fff; color:#666; display:inline-block; position:relative; height:18px; padding:5px; line-height:20px; vertical-align:top;}
.sod_select .sod_label {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.sod_select .sod_list_wrapper {border:1px solid #666; background-color:#fff; color:#333; border-top:none; display:none; position:absolute; top:100%; left:0; margin-left:-1px; height:auto; z-index:1;}
.sod_select.above .sod_list_wrapper {border-top:1px solid #666; border-bottom:none; top:auto; bottom:100%; }
.sod_select .sod_list_wrapper .sod_list {display:block; overflow-y:auto; padding:0; margin:0; position:relative;}
.sod_select .sod_list_wrapper .sod_list .sod_option {height:30px; line-height:30px; padding:0 5px; display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; position:relative; list-style-type: none; font-size:12px;}
.sod_select .sod_list_wrapper .sod_list .sod_option.disabled {color:#ccc;}
.sod_select .sod_list_wrapper .sod_list .sod_option.active {background-color:#333; color:#fff;}
.sod_select select {display:none !important;}
.sod_select.touch select {-webkit-appearance:menulist-button; position:absolute; top:0; left:0; display:block !important; height:100%; width:100%; opacity:0; z-index:1;}

.sod_select:hover, 
.sod_select.open, 
.sod_select.focus {border-color:#666;}
.sod_select.open  {color:#ccc; z-index:10;}
.sod_select.open .sod_list_wrapper {display:block;}

.sod_select.disabled	{border-color:#828282; color:#b2b2b2; cursor:not-allowed;}
.sod_select.disabled.open .sod_list_wrapper {display:none;}

/* bx-slider */
.bx-wrapper {position:relative; *zoom:1;}
.bx-wrapper img {}
.bx-wrapper .bx-viewport {}
.bx-wrapper .bx-controls-auto {position:absolute;}

.bx-wrapper .bx-controls {}
.bx-wrapper .bx-controls .bx-pager {position:absolute; z-index:9999;}
.bx-wrapper .bx-controls .bx-pager .bx-pager-item {display:inline-block; *zoom:1; *display:inline;}
.bx-wrapper .bx-controls .bx-pager .bx-pager-item a {display:block; text-indent:-9999px;}
.bx-wrapper .bx-controls .bx-pager .bx-pager-item a:hover,
.bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {}

.bx-wrapper .bx-controls .bx-controls-direction a {display:block; position:absolute; outline:0; text-indent:-9999px; z-index:9999;}
.bx-wrapper .bx-controls .bx-controls-direction a.disabled {display:none;}
.bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {}
.bx-wrapper .bx-controls .bx-controls-direction a.bx-next {}
.bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:hover {}
.bx-wrapper .bx-controls .bx-controls-direction a.bx-next:hover {}

.acc_nav {position:absolute; top:0; left:0; z-index:500; width:100%; height:0;}
.acc_nav a {display:block; position:absolute; left:0; top:-9999px; overflow:hidden; text-align:center; color:#fff; white-space:nowrap; font-size:0.75em;}
.acc_nav a:focus, 
.acc_nav a:hover, 
.acc_nav a:active {width:100%; top:0px; height:auto; padding:5px 0; background:#f37121; color:#fff; z-index:1000;}

.ml0{margin-left:0px !important;}.ml5{margin-left:5px !important;}.ml10{margin-left:10px !important;}.ml15{margin-left:15px !important;}.ml20{margin-left:20px !important;}.ml25{margin-left:25px !important;}.ml30{margin-left:30px !important;}.ml35{margin-left:35px !important;}.ml40{margin-left:40px !important;}.ml45{margin-left:45px !important;}.ml50{margin-left:50px !important;}.ml55{margin-left:55px !important;}.ml60{margin-left:60px !important;}.ml65{margin-left:65px !important;}.ml70{margin-left:70px !important;}.ml75{margin-left:75px !important;}.ml80{margin-left:80px !important;}.ml85{margin-left:85px !important;}.ml90{margin-left:90px !important;}.ml95{margin-left:95px !important;}.ml100{margin-left:100px !important;}
.mr0{margin-right:0px !important;}.mr5{margin-right:5px !important;}.mr10{margin-right:10px !important;}.mr15{margin-right:15px !important;}.mr20{margin-right:20px !important;}.mr25{margin-right:25px !important;}.mr30{margin-right:30px !important;}.mr35{margin-right:35px !important;}.mr40{margin-right:40px !important;}.mr45{margin-right:45px !important;}.mr50{margin-right:50px !important;}.mr55{margin-right:55px !important;}.mr60{margin-right:60px !important;}.mr65{margin-right:65px !important;}.mr70{margin-right:70px !important;}.mr75{margin-right:75px !important;}.mr80{margin-right:80px !important;}.mr85{margin-right:85px !important;}.mr90{margin-right:90px !important;}.mr95{margin-right:95px !important;}.mr100{margin-right:100px !important;}
.mt0{margin-top:0px !important;}.mt5{margin-top:5px !important;}.mt10{margin-top:10px !important;}.mt15{margin-top:15px !important;}.mt20{margin-top:20px !important;}.mt25{margin-top:25px !important;}.mt30{margin-top:30px !important;}.mt35{margin-top:35px !important;}.mt40{margin-top:40px !important;}.mt45{margin-top:45px !important;}.mt50{margin-top:50px !important;}.mt55{margin-top:55px !important;}.mt60{margin-top:60px !important;}.mt65{margin-top:65px !important;}.mt70{margin-top:70px !important;}.mt75{margin-top:75px !important;}.mt80{margin-top:80px !important;}.mt85{margin-top:85px !important;}.mt90{margin-top:90px !important;}.mt95{margin-top:95px !important;}.mt100{margin-top:100px !important;}
.mb0{margin-bottom:0px !important;}.mb5{margin-bottom:5px !important;}.mb10{margin-bottom:10px !important;}.mb15{margin-bottom:15px !important;}.mb20{margin-bottom:20px !important;}.mb25{margin-bottom:25px !important;}.mb30{margin-bottom:30px !important;}.mb35{margin-bottom:35px !important;}.mb40{margin-bottom:40px !important;}.mb45{margin-bottom:45px !important;}.mb50{margin-bottom:50px !important;}.mb55{margin-bottom:55px !important;}.mb60{margin-bottom:60px !important;}.mb65{margin-bottom:65px !important;}.mb70{margin-bottom:70px !important;}.mb75{margin-bottom:75px !important;}.mb80{margin-bottom:80px !important;}.mb85{margin-bottom:85px !important;}.mb90{margin-bottom:90px !important;}.mb95{margin-bottom:95px !important;}.mb100{margin-bottom:100px !important;}
.pl0{padding-left:0px !important;}.pl5{padding-left:5px !important;}.pl10{padding-left:10px !important;}.pl15{padding-left:15px !important;}.pl20{padding-left:20px !important;}.pl25{padding-left:25px !important;}.pl30{padding-left:30px !important;}.pl35{padding-left:35px !important;}.pl40{padding-left:40px !important;}.pl45{padding-left:45px !important;}.pl50{padding-left:50px !important;}.pl55{padding-left:55px !important;}.pl60{padding-left:60px !important;}.pl65{padding-left:65px !important;}.pl70{padding-left:70px !important;}.pl75{padding-left:75px !important;}.pl80{padding-left:80px !important;}.pl85{padding-left:85px !important;}.pl90{padding-left:90px !important;}.pl95{padding-left:95px !important;}.pl100{padding-left:100px !important;}
.pr0{padding-right:0px !important;}.pr5{padding-right:5px !important;}.pr10{padding-right:10px !important;}.pr15{padding-right:15px !important;}.pr20{padding-right:20px !important;}.pr25{padding-right:25px !important;}.pr30{padding-right:30px !important;}.pr35{padding-right:35px !important;}.pr40{padding-right:40px !important;}.pr45{padding-right:45px !important;}.pr50{padding-right:50px !important;}.pr55{padding-right:55px !important;}.pr60{padding-right:60px !important;}.pr65{padding-right:65px !important;}.pr70{padding-right:70px !important;}.pr75{padding-right:75px !important;}.pr80{padding-right:80px !important;}.pr85{padding-right:85px !important;}.pr90{padding-right:90px !important;}.pr95{padding-right:95px !important;}.pr100{padding-right:100px !important;}
.pt0{padding-top:0px !important;}.pt5{padding-top:5px !important;}.pt10{padding-top:10px !important;}.pt15{padding-top:15px !important;}.pt20{padding-top:20px !important;}.pt25{padding-top:25px !important;}.pt30{padding-top:30px !important;}.pt35{padding-top:35px !important;}.pt40{padding-top:40px !important;}.pt45{padding-top:45px !important;}.pt50{padding-top:50px !important;}.pt55{padding-top:55px !important;}.pt60{padding-top:60px !important;}.pt65{padding-top:65px !important;}.pt70{padding-top:70px !important;}.pt75{padding-top:75px !important;}.pt80{padding-top:80px !important;}.pt85{padding-top:85px !important;}.pt90{padding-top:90px !important;}.pt95{padding-top:95px !important;}.pt100{padding-top:100px !important;}
.pb0{padding-bottom:0px !important;}.pb5{padding-bottom:5px !important;}.pb10{padding-bottom:10px !important;}.pb15{padding-bottom:15px !important;}.pb20{padding-bottom:20px !important;}.pb25{padding-bottom:25px !important;}.pb30{padding-bottom:30px !important;}.pb35{padding-bottom:35px !important;}.pb40{padding-bottom:40px !important;}.pb45{padding-bottom:45px !important;}.pb50{padding-bottom:50px !important;}.pb55{padding-bottom:55px !important;}.pb60{padding-bottom:60px !important;}.pb65{padding-bottom:65px !important;}.pb70{padding-bottom:70px !important;}.pb75{padding-bottom:75px !important;}.pb80{padding-bottom:80px !important;}.pb85{padding-bottom:85px !important;}.pb90{padding-bottom:90px !important;}.pb95{padding-bottom:95px !important;}.pb100{padding-bottom:100px !important;}

.lh16 {line-height:16px !important;}
.lh18 {line-height:18px !important;}
.lh20 {line-height:20px !important;}
.lh22 {line-height:22px !important;}
.lh24 {line-height:24px !important;}
.lh26 {line-height:26px !important;}
.lh28 {line-height:28px !important;}
.lh30 {line-height:30px !important;}
.lh32 {line-height:32px !important;}
.lh34 {line-height:34px !important;}
.lh36 {line-height:36px !important;}
.lh38 {line-height:38px !important;}

.fz11 {font-size:11px !important;}
.fz12 {font-size:12px !important;}
.fz13 {font-size:13px !important;}
.fz14 {font-size:14px !important;}
.fz15 {font-size:15px !important;}
.fz16 {font-size:16px !important;}
.fz17 {font-size:17px !important;}
.fz18 {font-size:18px !important;}
.fz19 {font-size:19px !important;}
.fz20 {font-size:20px !important;}
.fz21 {font-size:21px !important;}
.fz22 {font-size:22px !important;}
.fz23 {font-size:23px !important;}
.fz24 {font-size:24px !important;}
.fz25 {font-size:25px !important;}
.fz26 {font-size:26px !important;}

.pc_block {display:block;}
.m_block {display:inline;}

@media screen and (max-width: 650px) {

	body		{ font-size:16px; }
	input[type='text'],
	input[type='password']  { height:35px; font-size:12px; line-height:35px; box-sizing:border-box; }
	select					{ height:35px; font-size:12px; line-height:35px; box-sizing:border-box; }
	
	.pc_block {display:inline;}
	.m_block {display:block;}
}

@media screen and (max-width: 1620px) {


}