@charset "utf-8";

/* reset css include */
@import"global.css";
@import"map.css";
@import"w3.css";

/* ===== layout ===================================================== */

#wrap {width: 100%; min-width:1620px; _position:relative; overflow:hidden; }
#header {width: 100%; position:relative; z-index:600; }
#header .inner_header {width: 1620px; height: 120px; margin: 0 auto; position:relative;}
#header .inner_header .logo {position:absolute; left:15%; top:15px; margin-left: -172px;}
#header .inner_header .logo img {width: 250px;}
#header .gnb_section {position:relative;  height: 83px; background-color:#0053b0; }
#header .gnb_section .gnb_section_top {display:none; }
#header .gnb_wrap {width: 1617px; margin: 0 auto; }
#header .mobile_gnb_close {display:none; }
#header .global_menu {padding:0px 10px; letter-spacing:0px;width: 1620px; position:absolute; left:50%; bottom:90px; margin-left: -810px; text-align:right; }
#header .global_menu li {display:inline-block; background:url(../img/line1.gif) left center no-repeat; margin-left: -4px;}
*:first-child+html #header .global_menu li {display:inline; margin-left: 0px;}
#header .global_menu li:first-child {background:none; }
#header .global_menu li a {font-size:18px; color:#222; line-height:22px; padding: 0 13px; font-weight:bold; vertical-align:top; }
#header .all_menu_opener {display:none; width: 45px; height: 45px; background-color:#0053b0; position:absolute; left:0px; top:0px; text-align:center; }
#header .all_menu_opener img {width: 26px; padding-top: 12px; }
#header .open-counsel {background-size:40px !important;background-position:right top;position:absolute; right:0px; top:0px;
background:url(../img/counsel_btn.png)  0 center no-repeat;width:45px;height:45px;display:none;}

#gnb {text-align: center; width: 100%; display:inline-block; vertical-align:top;}
#gnb > li {float: left; width: 231px;}
#gnb > li .btn_depth1 {display:block; height: 31px; padding-top: 52px; line-height:18px; font-size:16px; color:#fff; text-align:center; font-weight:bold; border-right: solid 1px #00326b; background-color:#0053b0;}
#gnb > li.cate1 .btn_depth1 {background:url(../img/ico_gnb1.png) center 11px no-repeat #0053b0; }
#gnb > li.cate2 .btn_depth1 {background:url(../img/ico_gnb2.png) center 11px no-repeat #0053b0; }
#gnb > li.cate3 .btn_depth1 {background:url(../img/ico_gnb3.png) center 11px no-repeat #0053b0; }
#gnb > li.cate4 .btn_depth1 {background:url(../img/ico_gnb4.png) center 11px no-repeat #0053b0; }
#gnb > li.cate5 .btn_depth1 {background:url(../img/ico_gnb5.png) center 11px no-repeat #0053b0; }
#gnb > li.cate6 .btn_depth1 {background:url(../img/ico_gnb6.png) center 11px no-repeat #0053b0; }
#gnb > li.cate7 .btn_depth1 {background:url(../img/ico_gnb7.png) center 11px no-repeat #0053b0; }
#gnb > li.cate8 .btn_depth1 {background:url(../img/ico_gnb8.png) center 11px no-repeat #0053b0; }
#gnb > li.cate9 .btn_depth1 {background:url(../img/ico_gnb9.png) center 11px no-repeat #0053b0; }
#gnb > li.cate10 .btn_depth1 {background:url(../img/ico_gnb10.png) center 11px no-repeat #0053b0; }



#gnb > li:first-child .btn_depth1 {border-left: solid 1px #00326b;}
#gnb > li.on .btn_depth1 {background-color:#00a2de;}
#gnb > li.current .btn_depth1 {background-color:#bf00ff;}

#gnb > li .dns_wrap {position:absolute; left:0px; top:-9999px; width: 100%; background-color:#fff;}
#gnb > li.on .dns_wrap {top:83px; }
#gnb > li .dns {width: 1620px; height: 80px; padding-top: 20px; margin: auto; overflow:hidden; vertical-align:top; }

#gnb > li .dns .dns_tit {float: left; 
						 width: 200px; height: 60px; 
						 padding: 25px 10px 0px 0px;
						 margin-top: -10px;
						 text-align:center; font-size:30px; 
						 line-height:12px; color:#002e62; 
						 border-right: solid 1px #b5b5b5;}

#gnb > li .dns .depth2_wrap {width: 1000px; padding-left: 30px; padding-top: 5px; float: left;  }
#gnb > li .dns .depth2_wrap > li {float: left; width: 250px; }
#gnb > li .dns .depth2_wrap > li a {display:inline-block; margin-bottom: 5px;
									padding: 0 10px 0 20px; color:#444444; 
									font-size:18px; 
									font-weight:bold; line-height:30px; 
									vertical-align:top; 
									vertical-align:top; 
									background:url(../img/dot_gnb1_off.png) 7px center no-repeat; }
#gnb > li .dns .depth2_wrap > li a:hover {background:url(../img/dot_gnb1_on.png) 7px center no-repeat; background-color:#002e62; color:#fff;}

#container {width: 100%; }
#contents {width: 1620px; margin: 0 auto;}
#contents.sub_epilogue { padding-top: 50px; padding-bottom: 60px; }
#contents.online_wrap { padding-top: 50px; padding-bottom: 60px; }
#contents.member_wrap {padding:50px 0 100px;}

/* ===== main ======================================================= */
#main_contents {width: 100%;}

.main_follow_menu {width: 100%; height: 58px; background-color:#2b6bd6;}
#main_follow_menu {width: 100%; height: 58px; background-color:#2b6bd6; text-align:center; }
#main_follow_menu.mf_fixed {position:fixed; left:0px; top:0px; z-index:800; }
#main_follow_menu a {display:inline-block; padding: 0 50px; line-height:58px; height: 58px; color:#fff; font-size:18px; font-weight:bold; }
#main_follow_menu a:hover {background-color:#04378c;}

.main_section1 {width: 100%; position:relative; }
.main_section1 .slider {width: 100%; height: 778px; overflow:hidden; }
.main_section1 .slider a {display:inline-block; width: 100%; height: 778px; background-position: center top; background-repeat:no-repeat;}
.main_section1 .slider a > img {display:none; }
.main_section1 .slide_page {display:block; width:100%; vertical-align:top; position:absolute; left:0; bottom:55px; z-index:200; text-align:center; }
.main_section1 .slide_page span {width: 21px; height: 21px; font-size:0px; display: inline-block; overflow:hidden; cursor: pointer; background:url(../../images/main/round1.png) -31px 0 no-repeat; margin: 0 3px; vertical-align:top;}
.main_section1 .slide_page span.cycle-pager-active {width: 21px; background-position: 0 0;}
.main_section1 .slide_page > * { cursor: pointer;}

.main_section2 {position:relative; z-index:10; background:url(../../images/main/bg_section2.jpg) center top repeat-y; }
.main_section2 .inner_box {width: 1620px; height: 743px; margin: 0 auto;}
.main_section2 .tit {text-align:center; padding: 40px 0 25px 0; }
.main_section2 .tit span {font-size:30px; line-height:34px; color:#fff; display:block; font-family:'Nanum Gothic'; padding-bottom: 10px; }
.main_section2 .tit strong {font-size:48px; line-height:52px; color:#fff;}
.main_section2 .tit a {display:inline-block; margin-left: 10px; vertical-align:top; }
.main_section2 .conts {width: 100%; overflow:hidden; }
.main_section2 .conts ul {width: 120%; overflow:hidden; }
.main_section2 .conts ul li {float: left; margin-right: 67px;}
.main_section2 .conts ul li a {display:block; width: 264px; height: 431px; padding: 95px 45px 0 45px; }
.main_section2 .conts ul li a .txt1 {display:block; padding-bottom: 18px;  font-size:14px; line-height:18px; color:#222222;}
.main_section2 .conts ul li a .txt2 {display:block; padding-bottom: 15px; font-size:43px; line-height:46px; color:#222222;}
.main_section2 .conts ul li a .txt3 {display:block; padding-bottom: 30px; font-size:13px; line-height:18px; color:#777777;}
.main_section2 .conts ul li a.type1 {background:url(../../images/main/bg_section2_1_pc1.png) 0 0 no-repeat; }
.main_section2 .conts ul li a.type2 {background:url(../../images/main/bg_section2_2_pc1.png) 0 0 no-repeat; }
.main_section2 .conts ul li a.type3 {background:url(../../images/main/bg_section2_3_pc1.png) 0 0 no-repeat; }
.main_section2 .conts ul li a.type4 {background:url(../../images/main/bg_section2_4_pc1.png) 0 0 no-repeat; }
.main_section2 .next_part_movement {position:absolute; left:50%; bottom:-40px; margin: 0 0 0 -147px; display:inline-block; }


/* ===== SIDEBAR ===================================================== */
.side_info {position: relative; overflow: scroll; width: 400px; height: 800px; border-bottom: solid 1px #e2e2e2; background-color: #fff;}
.side_info b{color:#0053b0;}
.side_info i{font-size: 13px}
.side_info img{width: 150px; height: 100px}
.side_info .w3-cell-row {border-top: solid 1px #e2e2e2;}
.side_info .image_area {text-align: right;}
.search_box_{padding-left:15px; padding-top:10px; padding-bottom:10px; border:1px;}
.search_box_ input[type=text] {width: 190px;height: 10px;box-sizing:border-box; border: 1px solid #ccc; border-radius: 4px; font-size: 16px; background-color: white; background-image: url('/assets/img/searchicon.png'); background-position: 10px 5px;  background-repeat: no-repeat; padding: 12px 20px 12px 40px; transition: width 0.4s ease-in-out;}
.sch_box_in {padding-top: 5px;}
.sch_box_in button{line-height: 5px;}
.search_box_ .sch_box_in .sch_box_bottom{ position: inherit; border: solid 0px red; padding-top: 5px; }
#gu{  width: 100px;  height: 35px; box-sizing: border-box;
  border: 1px solid #ccc; border-radius: 4px; font-size: 16px;
  background-color: white; }
#fac{  width: 215px; height: 35px; box-sizing: border-box;  border: 1px solid #ccc;  border-radius: 4px;  font-size: 16px;  background-color: white;  }

/* ===== common ===================================================== */
.sub_visual_wrap.com {background:url(../img/communication.jpg) center bottom no-repeat; }
.sub_visual_wrap.share {background:url(../img/share.jpg) center bottom no-repeat;  }
.sub_visual_wrap.myinfo {background:url(../img/myinfo1.jpg) center bottom no-repeat; }
.sub_visual_wrap.member {background:url(../img/signup.jpg) center bottom no-repeat; }

.sub_visual_wrap {}
.sub_visual_wrap .inner_box {width: 1620px; height: 350px; margin: 0 auto; position:relative; }
.sub_visual_wrap .inner_box .location {position:absolute; left:0px; top:40px; font-size:14px; line-height:18px; color:#666666;}
.sub_visual_wrap .inner_box .location img {vertical-align:middle; }
.sub_visual_wrap .inner_box .location span {display:inline-block; }
.sub_visual_wrap .inner_box .location strong {display:inline-block; color:#000000;}
.sub_visual_wrap .inner_box .tit {padding-top: 100px; padding-bottom: 20px; font-size:84px; line-height:88px; color:#000; }
.sub_visual_wrap .inner_box p {font-size:20px; line-height:22px; color:#171717;}
.sub_visual_wrap .inner_box p span {}

.sub_visual_wrap {background-color:#f3f3f3;}
.sub_visual_wrap.bg_no {background:none;}
.sub_visual_wrap .inner_box2 {width: 1620px; height:70px; margin: 0 auto; position:relative; }
.sub_visual_wrap .inner_box2 .location {position:absolute; left:0px; top:40px; font-size:14px; line-height:18px; color:#666666;}
.sub_visual_wrap .inner_box2 .location img {vertical-align:middle; }
.sub_visual_wrap .inner_box2 .location span {display:inline-block; }
.sub_visual_wrap .inner_box2 .location strong {display:inline-block; color:#000000;}

.tab_wrap1 {width:100%; padding-top:50px; background-color:#f3f3f3;}
.tab_wrap1 .tab_inner1 {width:1620px; margin:0 auto;}

.tab_style1 {border-bottom: solid 3px #33a5fc;}
.tab_style1 ul {width: 100%; overflow:hidden; position:relative; margin-bottom: 0; }
.tab_style1 ul li {float: left; width: 310px; }
.tab_style1.five ul li { width: 20%; }
.tab_style1 ul li a {display:block; height: 66px; line-height:66px; font-size:26px; color:#222222; font-weight:bold;  text-align:center; border: solid 1px #33a5fc; border-bottom: solid 0px #fff;  border-left: solid 0px #fff; background-color:#fff;}
.tab_style1 ul li:first-child a { border-left: solid 1px #33a5fc; }
.tab_style1 ul li.on a {background-color:#33a5fc; color:#fff;}

.pagination_wrap {position:relative; padding: 50px 0 0 0 ; text-align: center; }
.pagination_wrap.nopt {padding-top: 0px; }
.pagination_wrap .pagination {text-align: center; }
.pagination_wrap .pagination a {vertical-align:top; margin: 0 2px;}
.pagination_wrap .pagination .number {padding:  0 20px; }
.pagination_wrap .pagination .number a {display:inline-block; width: 40px; height: 40px; padding: 0 0 0 0; text-align:center; font-size:30px; line-height:40px; margin: 0 5px;}
.pagination_wrap .pagination .number a.on {color:#33a5fc; font-weight:bold;  font-size:30px; }
.pagination_wrap .right_area {position:absolute; right:0px; top:20px; }

.list_btn_area {padding-top:60px; text-align:center;}
.list_btn_area .btn_gray {display:inline-block; width:227px; height:69px; background-color:#525252; font-size:30px; line-height:69px; color:#fff;}

.text_modify_btn {position: relative; float: left; text-align: right; width: 100%}
.text_modify_btn .btn_modi {padding-top: 5px; display:inline-block; text-align: center; width:100px; height:35px; font-size:20px; color:#fff; background-color: #525252;}
.list_btn_area2 {padding-bottom:60px; text-align:center;}
.list_btn_area2 .btn_gray {display:inline-block; width:227px; height:69px; background-color:#525252; font-size:30px; line-height:69px; color:#fff;}

.write_table {}
.write_table tr th {width:16.48%; padding:5px 0 5px 16px; font-size:16px; line-height:50px; color:#171717; text-align:left; vertical-align:top;}
.write_table tr th label {font-weight:bold; line-height:50px;}
.write_table tr td {width:auto; padding:5px 0; line-height:50px;}
.write_table tr td.textarea {line-height:0px;}
.write_table tr td .red {font-size:16px; color:#e63838; margin-left:15px;}
.write_table tr td .w326 {width:319px;}
.write_table tr td .w229 {width:222px;}
.write_table tr td .wFull {width:1296px;}
.write_table tr td textarea {width:1291px; height:278px;}
.write_table tr td .phone_box {width:100%; overflow:hidden;}
.write_table tr td .phone_box select {width:229px; float:left;}
.write_table tr td .phone_box input {width:222px;}
.write_table tr td .phone_box .box1 {float:left; padding-left:37px; background:url(../img/hyphen1.gif) 13px 24px no-repeat;}
.write_table tr td .phone_box .box2 {float:left; padding-left:37px; background:url(../img/hyphen1.gif) 13px 24px no-repeat;}
.write_table tr td .mail_box {width:100%; overflow:hidden;}
.write_table tr td .mail_box select {width:229px; float:left; margin-left:10px;}
.write_table tr td .mail_box input {width:222px;}
.write_table tr td .mail_box .box1 {float:left;}
.write_table tr td .mail_box .box2 {float:left; padding-left:35px; background:url(../img/alpha.gif) 9px 18px no-repeat;}
.write_table tr td .w229 {width:229px;}
.write_table tr td label {margin-left:48px; font-size:16px; color:#666;}
.write_table tr td label:first-child {margin-left:0px;}

.write_table tr td .file_box {width:100%; height:50px; position:relative;}
.write_table tr td .file_box input[type=text] {width:1122px; height:48px; vertical-align:top;}
.write_table tr td .file_box .btn_file_box {width:174px; height:50px; position:absolute; top:0; right:0; overflow:hidden;}
.write_table tr td .file_box .btn_file_box .view {display:inline-block; width:174px; height:50px; position:absolute; top:0; left:0; border:0; background-color:#4a4a4a; color:#fff; text-align:center; line-height:50px;}
.write_table tr td .file_box .btn_file_box .hidden {height:30px; position:absolute; top:0; right:0; filter:alpha(opacity=0); opacity:0; font-size:30px; z-index:10;}

.write_table tr td .captcha_box {width:100%; overflow:hidden;}
.write_table tr td .captcha_box .captcha {width:227px; height:48px; border:1px solid #dfdfdf; background-color:#fff; text-align:center; float:left;}
.write_table tr td .captcha_box .captcha img {height:48px; vertical-align:top;}
.write_table tr td .captcha_box input {float:left; height:48px; margin-left:10px; margin-right:20px;}
.write_table tr td .captcha_box p {float:left; line-height:48px;}


/* ===== contents =================================================== */
.sep_tab_box1 {position:relative; margin-bottom: 20px; }

.search_box_se {position:absolute; right:0px; top:25px; text-align:left; z-index: 10;}
.search_box_se select {border: solid 1px #acacac; height: 39px; width: 100px; }
.search_box_se input[type="text"] {border: solid 1px #acacac; height: 37px; width: 200px; line-height:37px; padding: 0 10px;  vertical-align:top; }
.search_box_se input[type="submit"] {border: solid 0px #acacac; height: 39px; width: 84px; line-height:39px; padding: 0; vertical-align:top; color:#fff; font-weight:bold; text-align:center; font-size:16px; background-color:#525252;}

.sep_counter {margin-bottom: 60px; height: 110px; padding-top: 30px; background:url(../../images/epilogue/bg_sep_counter2.jpg) center top no-repeat; text-align:center; font-size:40px; line-height:80px; color:#242424; }
.sep_counter .number {display:inline-block; vertical-align:top; }
.sep_counter .number em {display:inline-block; margin-left: -2px; width: 51px; height: 84px; padding-right: 3px;  color:#fcff00; font-size:68px; line-height:80px; font-weight:bold; text-align:center; background:url(../../images/epilogue/bg_sep_counter1.png) 0 0 no-repeat; }

.sep_tab {height: 50px; }
.sep_tab .tit {display:none; }
.sep_tab ul {width:1130px; overflow:hidden; position:relative; }
.sep_tab ul li {float: left; width:180px; margin-right: 10px;}
.sep_tab ul li a {display:block; height: 50px; line-height:50px; font-size:20px; color:#171717; font-weight:bold; text-align:center; background-color:#e8eff4;}
.sep_tab ul li.on a {height: 60px; background:url(../img/bg_tab1.png) center bottom no-repeat;  color:#fff;}

.sep_tab .type2 li {width: 316px;}

.sep_orderby {position:absolute; right:0px; top:3px; float: right; } 
.sep_orderby li {float: left; margin-left: 10px;} 
.sep_orderby li a {display:inline-block; width: 110px; height: 42px; background:url(../../images/common/bg_order1.png) -120px 0 no-repeat; text-align:center; font-size:22px; color:#525252; font-weight:bold; line-height:42px; }
.sep_orderby li.on a {background-position: 0 0; color:#fff;}

.sep_list {width: 100%;}
.sep_list ul {border-top: solid 3px #33a5fc;}
.sep_list ul li {margin-bottom: 10px; }
.sep_list ul li a {display:block; height: 134px; position:relative; padding: 0 530px 0 170px; overflow:hidden; background-color:#f6f6f6; }
.sep_list ul li a .img_box {position:absolute; left:50px; top:16px; display:block; width: 101px; height: 102px; overflow:hidden; text-align:center; }
.sep_list ul li a .img_box > img {width: 100%; position:absolute; left:0px; top:0px; }
.sep_list ul li a .img_box .tcsc {position:absolute; left:0px; top:0px; z-index:10; display:block; width: 101px; height: 102px; background:url(../img/round1.png) 0 0 no-repeat; }
.sep_list ul li a .img_box .snsc {position:absolute; left:0px; top:0px; z-index:10; display:block; width: 101px; height: 102px; background:url(../img/round2.png) 0 0 no-repeat; }
.sep_list ul li a .img_box .jwli {position:absolute; left:0px; top:0px; z-index:10; display:block; width: 101px; height: 102px; background:url(../img/round3.png) 0 0 no-repeat; }
.sep_list ul li a .img_box .sjli {position:absolute; left:0px; top:0px; z-index:10; display:block; width: 101px; height: 102px; background:url(../img/round4.png) 0 0 no-repeat; }
.sep_list ul li a .img_box .nopl {position:absolute; left:0px; top:0px; z-index:10; display:block; width: 101px; height: 102px; background:url(../img/round10.png) 0 0 no-repeat; }

.sep_list ul li a .img_box .best {display:none; position:relative; margin-top: 33px; z-index:15; font-size:30px; line-height:33px; color:#000;  font-weight:bold; }
.sep_list ul li.best a .img_box .tcsc {background:url(../img/round1.png) 0 0 no-repeat;}
.sep_list ul li.best a .img_box .snsc {background:url(../img/round2.png) 0 0 no-repeat;}
.sep_list ul li.best a .img_box .jwli {background:url(../img/round3.png) 0 0 no-repeat;}
.sep_list ul li.best a .img_box .sjli {background:url(../img/round4.png) 0 0 no-repeat;}
.sep_list ul li.best a .img_box .nopl {background:url(../img/round10.png) 0 0 no-repeat;}
.sep_list ul li.best a .img_box .best {display:inline-block; }

.sep_list ul li a .txt_box {display:block; padding-top: 29px; }
.sep_list ul li a .txt_box .branch {display:block; padding-left: 10px; width: 216px; height: 40px; margin-bottom: 3px; background:url(../../images/epilogue/bg_sep_branch1.png) 0 0 no-repeat; font-size:22px; line-height:33px; color:#fff; font-weight:bold;}               

.sep_list ul li a .txt_box .name {display:block; width: 100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#222222; font-size:26px; line-height:30px; font-weight:bold; }
.sep_list ul li a .date_box {display:block; position:absolute; right:36px; top:52px; } 
.sep_list ul li a .date_box span {display:inline-block; font-size:18px; line-height:26px; padding-left: 20px; vertical-align:top; }
.sep_list ul li a .date_box span em {display:inline-block; width: 62px; height: 26px; font-size:14px; line-height:26px; text-align:center; color:#fff; font-weight:bold; background:url(../img/bg_date.png) 0 0 no-repeat; }

.seq_collect_wrap {padding: 40px 0 38px 0; background:url(../../images/common/bg_footer2.gif) 0 0 repeat-x #f1f1f1; }
.seq_collect_wrap .tit {text-align:center; padding-bottom: 45px; font-size:48px; line-height:50px; color:#242424;}
.seq_collect_wrap .inner_box {width: 1620px; margin: 0 auto; overflow:hidden; }
.seq_collect_wrap .inner_box ul {width: 110%; overflow:hidden; }
.seq_collect_wrap .inner_box ul li {width: 396px; float: left; padding-right: 12px; padding-bottom: 12px; }
.seq_collect_wrap .inner_box ul li a {display:block; height: 48px; border: solid 1px #e3e3e3; background-color:#fff; color:#727272; text-align:center; line-height:48px; font-size:18px; }
.seq_collect_wrap .inner_box ul li a:hover {background-color:#33a5fc; color:#fff; font-weight:bold; }

.search_box_body {display: none;}


/* === member === */
.member_wrap .login_box {height:305px; margin-bottom:50px; border-top:3px solid #33a5fc; background-color:#f7f7f7; position:relative;}
.member_wrap .login_box label {font-weight:bold; font-size:16px; line-height:50px; color:#222; position:absolute; left:424px;}
.member_wrap .login_box .label1 {top:80px;}
.member_wrap .login_box .label2 {top:140px;}
.member_wrap .login_box input[type=text] {width:393px; height:48px; position:absolute; top:80px; left:558px;}
.member_wrap .login_box input[type=password] {width:393px; height:48px; position:absolute; top:140px; left:558px;}
.member_wrap .login_box input[type=submit] {width:227px; height:110px; border:0; position:absolute; top:80px; left:968px; background-color:#525252; font-size:30px; color:#fefefe;}
.member_wrap .login_box a {position:absolute; top:205px; left:558px; font-size:16px; line-height:30px; color:#666;}

.member_wrap .login_btn {text-align:center;}
.member_wrap .login_btn .fl_c {}
.member_wrap .login_btn .fl_c a {display:inline-block; width:463px; height:69px; float:left; font-size:30px; line-height:69px; color:#fefefe;}
.member_wrap .login_btn .fl_c .btn_green {background-color:#1fbc02;}
.member_wrap .login_btn .fl_c .btn_blue {background-color:#0053b0; margin-left:10px;}

.member_wrap .login_box2 {height:447px; background-color:#f6f6f6; position:relative;}
.member_wrap .login_box2 dl {text-align:center;}
.member_wrap .login_box2 dl dt {padding-top:60px; font-size:40px; line-height:60px;}
.member_wrap .login_box2 dl dt strong {color:#171717; text-decoration:underline;}
.member_wrap .login_box2 dl dd {font-size:20px; line-height:60px;}
.member_wrap .login_box2 label {font-weight:bold; font-size:16px; line-height:50px; color:#222; position:absolute; left:424px;}
.member_wrap .login_box2 .label1 {top:222px;}
.member_wrap .login_box2 .label2 {top:282px;}
.member_wrap .login_box2 input[type=text] {width:393px; height:48px; position:absolute; top:222px; left:558px;}
.member_wrap .login_box2 input[type=password] {width:393px; height:48px; position:absolute; top:282px; left:558px;}
.member_wrap .login_box2 input[type=submit] {width:227px; height:110px; border:0; position:absolute; top:222px; left:968px; background-color:#525252; font-size:30px; color:#fefefe;}
.member_wrap .login_box2 a {position:absolute; top:347px; left:558px; font-size:16px; line-height:30px; color:#666;}

.member_wrap .terms_article {padding:40px 0 0;}
.member_wrap .terms_article h4 {margin-bottom:20px; font-size:26px; line-height:32px; color:#171717;}
.member_wrap .terms_article .scroll {height:190px; padding:30px; margin-bottom:10px; overflow-y:scroll; position:relative; background-color:#f2f2f2; font-size:16px;}
.member_wrap .terms_article .scroll h5 {font-family:'Nanum Gothic'; font-size:16px;}

.member_wrap .pop_terms_article {padding:20px;}
.member_wrap .pop_terms_article h4 {margin-bottom:20px; font-size:26px; line-height:32px; color:#171717;}
.member_wrap .pop_terms_article .scroll {height:800px; padding:30px; margin-bottom:10px; overflow-y:scroll; position:relative; background-color:#f2f2f2; font-size:16px;}
.member_wrap .pop_terms_article .scroll h5 {font-family:'Nanum Gothic'; font-size:16px;}

.member_wrap .terms_article .scroll h6 {margin-top:30px; font-family:'Nanum Gothic'; font-size:16px;}
.member_wrap .pop_terms_article .scroll h6 {margin-top:30px; font-family:'Nanum Gothic'; font-size:16px;}

.agreement_box {padding:25px 0; text-align:center; background-color:#ebebeb;}
.agreement_box label {font-size:16px;}
.agreement_box label:first-child {margin-right:50px;}

.agreement_box2 {padding:25px 0; text-align:center; background-color:#ebebeb;}
.agreement_box2 label {font-size:16px;}
.agreement_box2 label:first-child {margin-right:50px;}
.agreement_box2 .btn_detail {display:inline-block; width:75px; height:26px; background-color:#767676; color:#fff; font-weight:bold; text-align:center; font-size:14px; line-height:26px;}

.write_btn_area {padding-top:50px; text-align:center;}
.write_btn_area .fl_c a,
.write_btn_area .fl_c input {display:inline-block; width:227px; height:69px; float:left; font-size:30px; line-height:69px; color:#fff; border: solid 0px #fff;}
.write_btn_area .fl_c .btn_blue {background-color:#0053b0;}
.write_btn_area .fl_c .btn_dark {background-color:#525252; margin-left:10px;}
.write_btn_area .fl_c .btn_gray {background-color:#9f9f9f; margin-right:10px;}

.write_table_wrap1 { margin-top:0px; border-top: solid 3px #33a5fc;}
.write_table_wrap1 {padding:15px 30px; margin-top:60px; background-color:#f6f6f6;}

.member_wrap .find_wrap {width:100%; padding:75px 0; background-color:#f6f6f6;}
.member_wrap .find_wrap .write_table {width:868px; margin:0 auto;}
.member_wrap .find_wrap .write_table tr th {width:135px; padding-left:0px;}
.member_wrap .find_wrap .write_table tr td.text {padding-left:135px;}
.member_wrap .find_wrap .write_table tr td ul {padding-top:15px;}
.member_wrap .find_wrap .write_table tr td ul li {font-size:16px; line-height:24px;}


/* === online === */
.online_step1 {text-align:center;}
.online_step1 ul {display:inline-block; *display:inline; zoom:1;}
.online_step1 ul li {width:199px; height:203px; padding-left:104px; float:left; background:url(../img/step1_arrow2.png) 23px 73px no-repeat;}
.online_step1 ul li.s1 {padding-left:0px; background:none;}
.online_step1 ul li div {display:block; width:199px; height:203px; background:url(../img/step1_bg.png) 0 0 no-repeat; font-weight:bold; font-size:24px; line-height:30px; color:#171717;}
.online_step1 ul li.s1 div {height:90px; padding:57px 0 56px;}
.online_step1 ul li.s2 div {height:90px; padding:57px 0 56px;}
.online_step1 ul li.s3 div {height:60px; padding:70px 0 73px;}
.online_step1 ul li.s4 div {height:30px; padding:85px 0 88px;}
.online_step1 ul li.s5 div {height:60px; padding:70px 0 73px;}

.kakaotalk_privacy {padding-top:15px; text-align:center;}
.kakaotalk_privacy ul {display:inline-block; *display:inline; zoom:1;}
.kakaotalk_privacy ul li {float:left; margin-left:46px; font-size:16px; line-height:30px;}
.kakaotalk_privacy ul li:first-child {margin-left:0px;}


.btn2 { display:inline-block; width: 85px; height: 40px; line-height:40px; text-align:center; background-color:#525252; color:#fff; font-size:16px; font-weight:bold; border: solid 0px #fff;}

.sep_view {width: 100%;}
.sep_view .title_box {border-top: solid 3px #33a5fc;}
.sep_view .title_box .outer_box {margin-bottom: 10px; }
.sep_view .title_box .outer_box .inner_box {display:block; height: 134px; position:relative; padding: 0 530px 0 170px; overflow:hidden; background-color:#f6f6f6; }
.sep_view .title_box .outer_box .inner_box .img_box { display:block; width: 101px; height: 102px; position:absolute; left:50px; top:16px; overflow:hidden; text-align:center; }
.sep_view .title_box .outer_box .inner_box .img_box > img {width: 100%; position:absolute; left:0px; top:0px; }
.sep_view .title_box .outer_box .inner_box .img_box .cover { display:block; width: 101px; height: 102px; position:absolute; left:0px; top:0px; z-index:10; background:url(../img/bg_sep_list2.png) 0 0 no-repeat; }
.sep_view .title_box .outer_box .inner_box .img_box .best {display:none; position:relative; margin-top: 33px; z-index:15; font-size:30px; line-height:33px; color:#000;  font-weight:bold; }
.sep_view .title_box .outer_box .inner_box .img_box .cover1 { display:block; width: 100px; height: 87px; position:absolute; left:0px; top:10px; z-index:10; background:url(../img/bg_sep_list3.png) 0 0 no-repeat; }
.sep_view .title_box .outer_box .inner_box .img_box .count { position:relative; z-index:15; font-size:24px; line-height:95px; color:#fff; font-weight:bold; }
.sep_view .title_box .outer_box.best .inner_box .img_box .cover {background:url(../img/bg_sep_list1.png) 0 0 no-repeat;}
.sep_view .title_box .outer_box.best .inner_box .img_box .best {display:inline-block; }
.sep_view .title_box .outer_box .inner_box .txt_box {display:block; padding-top: 29px; }
.sep_view .title_box .outer_box .inner_box .txt_box .promo {padding-top: 50px; }
.sep_view .title_box .outer_box .inner_box .txt_box .branch {display:block; padding-left: 10px; width: 192px; height: 40px; margin-bottom: 3px; background:url(../../images/epilogue/bg_sep_branch1.png) 0 0 no-repeat; font-size:22px; line-height:33px; color:#fff; font-weight:bold;}              
.sep_view .title_box .outer_box .inner_box .txt_box .name {display:block; width: 100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#222222; font-size:26px; line-height:30px; font-weight:bold; }
.sep_view .title_box .outer_box .inner_box .date_box {display:block; position:absolute; right:36px; top:52px; } 
.sep_view .title_box .outer_box .inner_box .date_box span {display:inline-block; font-size:18px; line-height:26px; padding-left: 20px; vertical-align:top; }
.sep_view .title_box .outer_box .inner_box .date_box span em {display:inline-block; width: 62px; height: 26px; font-size:14px; line-height:26px; text-align:center; color:#fff; font-weight:bold; background:url(../img/bg_date.png) 0 0 no-repeat; }
.sep_view .cont_box {padding: 10px; margin-left: 0px; margin-bottom: 10px; border-bottom: solid 3px #33a5fc; }
.sep_view .cont_box img {}
.sep_view.self_write .cont_box img {width:980px; height:1375px;}
.sep_view .reply_box { padding-bottom: 50px; padding-left: 10px; border-bottom: solid 1px #e2e2e2; position: relative;}
.sep_view .reply_box span { display:inline-block; line-height:95px; font-weight:bold; }
.sep_view .reply_box .reply_txt { margin-right: 30px; font-size:18px; color:#222; }
.sep_view .reply_box .reply_btn a {  padding-bottom: 25px; margin-bottom: 0px; border-bottom: solid 0px #e7e7e7; font-size:45px; }
.sep_view .file_down { height: 65px; margin-bottom: 1px; line-height:65px; background-color:#f6f6f6; position:relative; }
.sep_view .file_down .ico_file { display:inline-block; width: 120px; height: 65px; line-height:65px; padding-left: 10px; position:absolute; left:0px; top:0px; color:#171717; background:url(../../images/epilogue/ico_down.gif) 20px center no-repeat #ebebeb;  text-align:center; }
.sep_view .file_down a { display:block; color:#333; padding:0 50px 0 160px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.sep_view .file_down a span { border-bottom: solid 1px #333; }
.sep_view .prev_next_wrap { overflow:hidden; padding-bottom: 70px; }
.sep_view .prev_next_wrap span { display:inline-block; width: 50%; float: left; height: 65px; line-height:65px; position:relative; background-color:#f6f6f6; }
.sep_view .prev_next_wrap span a { padding:0 50px 0 160px; display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.sep_view .prev_next_wrap span strong { display:inline-block; width: 120px; height: 65px; line-height:65px; padding-left: 10px; position:absolute; left:0px; top:0px; color:#171717; text-align:center; }
.sep_view .prev_next_wrap .prev strong { background:url(../img/btn_prev.gif) 20px center no-repeat #ebebeb; }
.sep_view .prev_next_wrap .next strong { background:url(../img/btn_next.gif) 20px center no-repeat #ebebeb; }

.reply_wrap { padding-top: 5px; overflow: hidden; height: auto; width: 100%;  position: relative; border-top: solid 1px #e2e2e2; }
.reply_wrap .re_profile { width: 15%; height: 110px; background:url("../img/profile.png") 0 0 no-repeat;  background-position: center; #fff; float: left; position: relative; }
.re_area { background-color: #fff; float: left; height: 77%; width: 85%; position: relative }
.re_area .up { background-color: #fff; float: left; padding-top: 5px; padding-left: 5px; height: auto; width: 100%; position: relative; }
.re_area .down { background-color: #fff; float: left; padding-left: 5px; height: auto; width: auto; position: relative; }
.re_button { padding-bottom: 10px; background-color: #fff; float: left; padding-top: 5px; position: relative; height: auto; width: 100%}
.loc{ position: relative; float: right; right: 5%}
.reply_txt { margin-right: 30px; font-size:15px; color:#111 }
.reply_area { overflow: hidden; float: left; width: 100%; border: solid 0px green;}
.reply_area .reply_body { float: left; width: calc(99% - 10px); height: auto; border: solid 0px blue;}
.reply_area .reply_body textarea{ width: 99%;}
.reply_area .reply_btn { float: left; width: 180px; height: auto; border: 0px solid; }
.reply_area .reply_btn button{ float: left; height: 93px;}

.reply { padding-left: 50px; padding-top: 5px; padding-bottom: 10px; overflow: hidden; height: auto; width: 97%; border-top: solid 1px #e2e2e2; position: relative }
.reply .re_profile { width: 15%; height: 110px; background:url("../img/profile.png") 0 0 no-repeat;  background-position: center; float: left; position: relative; }
.reply .re_area { background-color: white; float: left; height: 77%; width: 85%; position: relative }
.reply .re_area .up { background-color:white; float: left; padding-top: 5px; padding-left: 5px; height: auto; width: 95%; position: relative; }
.reply .re_area .down { background-color: white; float: left; padding-left: 5px; height: auto; width: 95%;  position: relative; }
.reply .re_button { background-color: #fff; padding-bottom: 10px; border-bottom: solid 0px #e2e2e2; float: left; padding-top: 5px; position: relative; height: auto; width: 97%}
.reply .loc{ position: relative; float: right; right: 5%}
.reply .reply_txt { margin-right: 30px; font-size:15px; color:#111 }

.sep_view1 {width: 100%; margin-top: 70px;}
.sep_view1 .title_box {border-top: solid 3px #33a5fc;}
.sep_view1 .title_box .outer_box {margin-bottom: 10px; }
.sep_view1 .title_box .outer_box .inner_box {display:block; position:relative; padding: 50px 530px 50px 50px; overflow:hidden; background-color:#f6f6f6; }
.sep_view1 .title_box .outer_box .inner_box .txt_box { display:block; }
.sep_view1 .title_box .outer_box .inner_box .txt_box .name { display:block; width: 100%; color:#222222; font-size:26px; line-height:30px; font-weight:bold; }
.sep_view1 .title_box .outer_box .inner_box .date_box {display:block; position:absolute; right:36px; top:52px; } 
.sep_view1 .title_box .outer_box .inner_box .date_box span {display:inline-block; font-size:18px; line-height:26px; padding-left: 20px; vertical-align:top; }
.sep_view1 .title_box .outer_box .inner_box .date_box span em {display:inline-block; width: 62px; height: 26px; font-size:14px; line-height:26px; text-align:center; color:#fff; font-weight:bold; background:url(../img/bg_date.png) 0 0 no-repeat; }
.sep_view1 .cont_box { padding: 100px 0; margin-bottom: 50px; _text-align:center; border-bottom: solid 1px #e2e2e2; }
.sep_view1 .file_down { height: 65px; margin-bottom: 1px; line-height:65px; background-color:#f6f6f6; position:relative; }
.sep_view1 .file_down .ico_file { display:inline-block; width: 120px; height: 65px; line-height:65px; padding-left: 10px; position:absolute; left:0px; top:0px; color:#171717; background:url(../../images/epilogue/ico_down.gif) 20px center no-repeat #ebebeb;  text-align:center; }
.sep_view1 .file_down a { display:block; color:#333; padding:0 50px 0 160px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.sep_view1 .file_down a span { border-bottom: solid 1px #333; }
.sep_view1 .prev_next_wrap { overflow:hidden; padding-bottom: 70px; }
.sep_view1 .prev_next_wrap span { display:inline-block; width: 50%; float: left; height: 65px; line-height:65px; position:relative; background-color:#f6f6f6; }
.sep_view1 .prev_next_wrap span a { padding:0 50px 0 160px; display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.sep_view1 .prev_next_wrap span strong { display:inline-block; width: 120px; height: 65px; line-height:65px; padding-left: 10px; position:absolute; left:0px; top:0px; color:#171717; text-align:center; }
.sep_view1 .prev_next_wrap .prev strong { background:url(../img/btn_prev.gif) 20px center no-repeat #ebebeb; }
.sep_view1 .prev_next_wrap .next strong { background:url(../img/btn_next.gif) 20px center no-repeat #ebebeb; }

.sub_epilogue .btn_area { padding-bottom: 10px; margin-bottom: 5px;  border-bottom: solid 1px #e2e2e2; }
.sub_epilogue .search_area { padding-bottom: 60px; text-align:center; }
.sub_epilogue .search_area select { width: 140px; height: 40px; }
.sub_epilogue .search_area .it { width: 300px; height: 38px; line-height:38px;  }

.gallery_list ul { width: 1640px; overflow:hidden;  }
.gallery_list ul li { width: 388px; margin:0 22px 25px 0; padding-bottom: 25px; float: left; border-bottom: solid 1px #dbdbdb; }
.gallery_list ul li a { display:block; position:relative; }
.gallery_list ul li a .cover { position:absolute; left:0px; top:0px;  }
.gallery_list ul li a .txt_box { margin: 0 30px; position:absolute; left:0px; bottom:20px; }
.gallery_list ul li a .txt_box span { display:inline-block; }
.gallery_list ul li a .txt_box .name { display:block; width: 340px; font-size:26px; line-height:36px; color:#fff; font-weight:bold; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
.gallery_list ul li a .txt_box .info { display:block; padding-bottom: 10px; margin-bottom: 15px; font-size:14px; line-height:18px; color:#a6a6a6; background:url(../../images/epilogue/photo_line.png) 0 bottom repeat-x;  }
.gallery_list ul li a .txt_box .info span { margin: 0 3px; color:#666; }
.gallery_list ul li a .txt_box .count_like { height: 26px; line-height:26px; padding-left: 30px; margin-right: 15px; font-size:14px; color:#fff; font-weight:bold; background:url(../../images/epilogue/ico_01.png) 0 0 no-repeat; }
.gallery_list ul li a .txt_box .count_view { height: 26px; line-height:26px; padding-left: 62px; font-size:14px; color:#fff; font-weight:bold; background:url(../../images/epilogue/ico_02.png) 0 0 no-repeat;}
.gallery_list ul li a .best { display:none; }
.gallery_list ul li.best a .best { display:inline-block; position:absolute; left:30px; top:30px; }

.sep_orderby1 { text-align:center; } 
.sep_orderby1 span { display:inline-block; margin-left: 10px;} 
.sep_orderby1 span a { display:inline-block; width: 110px; height: 42px; background:url(../../images/common/bg_order1.png) -120px 0 no-repeat; text-align:center; font-size:22px; color:#525252; font-weight:bold; line-height:42px; }
.sep_orderby1 span.on a { background-position: 0 0; color:#fff; }

.btn1 { display:inline-block; width: 227px; height: 70px; line-height:70px; background-color:#525252; border: solid 0px #fff; font-size:30px; color:#fff !important; text-align:center; }
.btn1.blue { background-color:#0053b0; }
.btn1.wgray { background-color:#9f9f9f; }

.coun_list {width: 100%;}
.coun_list ul {border-top: solid 3px #33a5fc;}
.coun_list ul li {margin-bottom: 10px; }
.coun_list ul li a {display:block; height: 134px; position:relative; padding: 0 530px 0 170px; overflow:hidden; background-color:#f6f6f6; }
.coun_list ul li a .mark_box {position:absolute; left:50px; top:16px; display:block; width: 101px; height: 102px; overflow:hidden; text-align:center; }
.coun_list ul li a .mark_box > img {width: 100%; position:absolute; left:0px; top:0px; }
.coun_list ul li a .mark_box .cover {position:absolute; left:0px; top:0px; z-index:10; display:block; width: 101px; height: 102px; background:url(../img/bg_sep_list2.png) 0 0 no-repeat #fff; }
.coun_list ul li a .mark_box .mark { background-color: white; padding:0px; display:inline-block; position:relative; margin-top: 22px; z-index:15; font-size:24px; line-height:30px; color:#777; font-weight:bold; }
.coun_list ul li.completion a .mark_box .cover {background:url(../img/bg_sep_list1.png) 0 0 no-repeat #fff;}
.coun_list ul li.completion a .mark_box .mark { color:#000; background-color: white; padding:0px; }
.coun_list ul li.processing a .mark_box .cover {background:url(../img/bg_sep_list4.png) 0 0 no-repeat #fff;}
.coun_list ul li.processing a .mark_box .mark { color:#000; background-color: white; padding:0px; }
.coun_list ul li a .txt_box {display:block; padding-top: 29px; }
.coun_list ul li a .txt_box .branch {display:block; padding-left: 10px; width: 192px; height: 40px; margin-bottom: 3px; font-size:22px; line-height:33px; color:#fff; font-weight:bold;}              

.coun_list ul li a .txt_box .name {display:block; width: 100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#222222; font-size:26px; line-height:30px; font-weight:bold; }
.coun_list ul li a .date_box {display:block; position:absolute; right:36px; top:52px; color:#222; } 
.coun_list ul li a .date_box span {display:inline-block; font-size:18px; line-height:26px; padding-left: 20px; vertical-align:top; }
.coun_list ul li a .date_box span em {display:inline-block; width: 62px; height: 26px; margin-right: 15px; font-size:14px; line-height:26px; text-align:center; color:#000; font-weight:bold; background:url(../img/bg_date.png) 0 0 no-repeat; }

.coun_view .title_box { min-height: 134px; padding:0 500px 0 47px; position:relative; background-color:#f6f6f6; border-top: solid 3px #33a5fc; }
.coun_view .title_box .txt_box {display:block; padding-top: 29px; padding-bottom: 29px; }
.coun_view .title_box .txt_box .branch {display:block; padding-left: 10px; width: 192px; height: 40px; margin-bottom: 3px; font-size:22px; line-height:33px; color:#fff; font-weight:bold;}               
.coun_view .title_box .txt_box .name {display:block; width: 100%; overflow:hidden; color:#222222; font-size:26px; line-height:30px; font-weight:bold; }
.coun_view .title_box .date_box {display:block; position:absolute; right:36px; top:50%; margin-top: -20px; color:#222; } 
.coun_view .title_box .date_box span {display:inline-block; font-size:18px; line-height:26px; padding-left: 20px; vertical-align:top; }
.coun_view .title_box .date_box span em {display:inline-block; width: 62px; height: 26px; margin-right: 15px; font-size:14px; line-height:26px; text-align:center; color:#fff; font-weight:bold; background:url(../img/bg_date.png) 0 0 no-repeat; }

.coun_view .question_box { padding: 95px 0px 95px 150px; position:relative; }
.coun_view .question_box .ico_q { width: 77px; height: 77px; line-height:77px; font-size:40px; font-weight:bold; color:#fff; text-align:center; background:url(../../images/mypage/ico_q.png) 0 0 no-repeat; position:absolute; left:40px; top:95px; }

.coun_view .answer_box { padding-top: 24px; padding-bottom: 60px; position:relative; }
.coun_view .answer_box .bul_a { position:absolute; left:75px; top:0px; }
.coun_view .answer_box .answer_inner { padding: 40px 0px 40px 150px; border: solid 3px #33a5fc; }
.coun_view .answer_box .answer_inner .ico_a { width: 77px; height: 77px; line-height:77px; font-size:40px; font-weight:bold; color:#fff; text-align:center; background:url(../../images/mypage/ico_a.png) 0 0 no-repeat; position:absolute; left:40px; top:64px; }
.coun_view .tit_qa { padding-bottom: 20px; font-size:24px; line-height:30px; font-weight:bold; color:#222;  }
.coun_view .txt_qa { font-size:20px; line-height:32px; color:#222;  }

#contents.mypage_wrap { padding-top: 50px; padding-bottom: 100px; }

.sep_tab_box2 {position:relative; margin-bottom: 60px; }


@media screen and (max-width: 1620px) {

    /* === layout === */
    #wrap {min-width:100%;}

    /*#header .inner_header {width: 980px; background:url(../../images/common/180419_header_1620.png) no-repeat; } */
	#header .inner_header {width: 980px; height: 100px;}

    #header .inner_header .logo {top:15px; margin-left: -150px;}
    #header .inner_header .logo img {width: 200px;}
    #header .gnb_wrap {width: 1260px;}
    #header .global_menu {width: 1100px; bottom:85px; margin-left: -490px;}
    #header .global_menu li a {font-size:16px;}
    #header .surgery_counter .counter_box {width: 180px; left:96px; bottom:6px; height: auto; text-align:center; }
    #header .surgery_counter .counter_box .block {display:block; }
    #header .chi-m {display:none; width:13px;height:13px;position:absolute;top:45px;left: 87%;}

    #gnb > li {width: 180px;}
    #gnb > li .dns {width: 1260px; }
    #gnb > li .dns .dns_tit {width: 200px; font-size:26px; }
    #gnb > li .dns .depth2_wrap {width: 630px;}
    #gnb > li .dns .depth2_wrap > li {width: 210px; }

    #footer .branch_list .inner_branch {width: 980px;}
    #footer .branch_list .inner_branch dl dd p em {display:block; }

    #footer .footer_infor {width: 980px;}
    #footer .footer_infor .f_menu li:first-child {width: 400px; }

    #footer .footer_infor .site_infor_box > div {font-size:11px; }
    #footer .footer_infor .site_infor_box > div:first-child {width: 400px;} 

    #contents {width: 980px;}

    /* ===== main ==================max-width: 1620px============================ */
	#main_contents {width: 100%;}

	.main_follow_menu {width: 100%; height: 58px; background-color:#2b6bd6;}
	#main_follow_menu {width: 100%; height: 58px; background-color:#2b6bd6; text-align:center; }
	#main_follow_menu.mf_fixed {position:fixed; left:0px; top:0px; z-index:800; }
	#main_follow_menu a {display:inline-block; padding: 0 50px; line-height:58px; height: 58px; color:#fff; font-size:18px; font-weight:bold; }
	#main_follow_menu a:hover {background-color:#04378c;}

	/* ===== common ====================max-width: 1620px==================== */
	.sub_visual_wrap.com {background:url(../img/communication.jpg) center bottom no-repeat;}
	.sub_visual_wrap.share {background:url(../img/share.jpg) center bottom no-repeat;}
	.sub_visual_wrap.myinfo {background:url(../img/myinfo1.jpg) center bottom no-repeat; }
	.sub_visual_wrap.member {background:url(../img/signup.jpg) center bottom no-repeat; }


	.sub_visual_wrap {}
	.sub_visual_wrap .inner_box {width: 1620px; height: 350px; margin: 0 auto; position:relative; background-size: 100% }
	.sub_visual_wrap .inner_box .location {position:absolute; left:0px; top:40px; font-size:14px; line-height:18px; color:#5e5e5e;}
	.sub_visual_wrap .inner_box .location img {vertical-align:middle; }
	.sub_visual_wrap .inner_box .location span {display:inline-block; }
	.sub_visual_wrap .inner_box .location strong {display:inline-block; color:#000000;}
	.sub_visual_wrap .inner_box .tit {padding-top: 134px; padding-bottom: 20px; font-size:84px; line-height:88px; color:#000; }
	.sub_visual_wrap .inner_box p {font-size:20px; line-height:22px; color:#171717;}
	.sub_visual_wrap .inner_box p span {}

	.sub_visual_wrap {background-color:#f3f3f3;}
	.sub_visual_wrap.bg_no {background:none;}
	.sub_visual_wrap .inner_box2 {width: 1620px; height:70px; margin: 0 auto; position:relative; }
	.sub_visual_wrap .inner_box2 .location {position:absolute; left:0px; top:40px; font-size:14px; line-height:18px; color:#666666;}
	.sub_visual_wrap .inner_box2 .location img {vertical-align:middle; }
	.sub_visual_wrap .inner_box2 .location span {display:inline-block; }
	.sub_visual_wrap .inner_box2 .location strong {display:inline-block; color:#000000;}

	.tab_wrap1 {width:100%; padding-top:50px; background-color:#f3f3f3;}
	.tab_wrap1 .tab_inner1 {width:1620px; margin:0 auto;}

	.tab_style1 {border-bottom: solid 3px #33a5fc;}
	.tab_style1 ul {width: 100%; overflow:hidden; position:relative; margin-bottom: 0px; }
	.tab_style1 ul li {float: left; width: 33.33%; }
	.tab_style1.five ul li { width: 20%; }
	.tab_style1 ul li a {display:block; height: 66px; line-height:66px; font-size:26px; color:#222222; font-weight:bold;  text-align:center; border: solid 1px #33a5fc; border-bottom: solid 0px #fff;  border-left: solid 0px #fff; background-color:#fff;}
	.tab_style1 ul li:first-child a { border-left: solid 1px #33a5fc; }
	.tab_style1 ul li.on a {background-color:#33a5fc; color:#fff;}

	.pagination_wrap {position:relative; padding: 50px 0 0 0 ; text-align: center; }
	.pagination_wrap.nopt {padding-top: 0px; }
	.pagination_wrap .pagination {text-align:center; }
	.pagination_wrap .pagination a {vertical-align:top; margin: 0 2px;}
	.pagination_wrap .pagination .number {padding:  0 20px; }
	.pagination_wrap .pagination .number a {display:inline-block; width: 40px; height: 40px; padding: 0 0 0 0; text-align:center; font-size:30px; line-height:40px; margin: 0 5px;}
	.pagination_wrap .pagination .number a.on {color:#33a5fc; font-weight:bold;  font-size:30px; }
	.pagination_wrap .right_area {position:absolute; right:0px; top:20px; }

	.list_btn_area {padding-top:60px; text-align:center;}
	.list_btn_area .btn_gray {display:inline-block; width:227px; height:69px; background-color:#525252; font-size:30px; line-height:69px; color:#fff;}

	.list_btn_area2 {padding-bottom:60px; text-align:center;}
	.list_btn_area2 .btn_gray {display:inline-block; width:227px; height:69px; background-color:#525252; font-size:30px; line-height:69px; color:#fff;}

	.write_table {}
	.write_table tr th {width:10.5%; padding:5px 0 5px 16px; font-size:16px; line-height:50px; color:#171717; text-align:left; vertical-align:top;}
	.write_table tr th label {font-weight:bold; line-height:50px;}
	.write_table tr td {width:auto; padding:5px 0; line-height:50px;}
	.write_table tr td.textarea {line-height:0px;}
	.write_table tr td .red {font-size:16px; color:#e63838; margin-left:15px;}
	.write_table tr td .w326 {width:319px;}
	.write_table tr td .w229 {width:222px;}
	.write_table tr td .wFull {width:99%;}
	.write_table tr td textarea {width:1291px; height:278px;}
	.write_table tr td .phone_box {width:100%; overflow:hidden;}
	.write_table tr td .phone_box select {width:229px; float:left;}
	.write_table tr td .phone_box input {width:222px;}
	.write_table tr td .phone_box .box1 {float:left; padding-left:37px; background:url(../img/hyphen1.gif) 13px 24px no-repeat;}
	.write_table tr td .phone_box .box2 {float:left; padding-left:37px; background:url(../img/hyphen1.gif) 13px 24px no-repeat;}
	.write_table tr td .mail_box {width:100%; overflow:hidden;}
	.write_table tr td .mail_box select {width:229px; float:left; margin-left:10px;}
	.write_table tr td .mail_box input {width:222px;}
	.write_table tr td .mail_box .box1 {float:left;}
	.write_table tr td .mail_box .box2 {float:left; padding-left:35px; background:url(../img/alpha.gif) 9px 18px no-repeat;}
	.write_table tr td .w229 {width:229px;}
	.write_table tr td label {margin-left:48px; font-size:16px; color:#666;}
	.write_table tr td label:first-child {margin-left:0px;}

	.write_table tr td .file_box {width:100%; height:50px; position:relative;}
	.write_table tr td .file_box input[type=text] {width:1122px; height:48px; vertical-align:top;}
	.write_table tr td .file_box .btn_file_box {width:174px; height:50px; position:absolute; top:0; right:0; overflow:hidden;}
	.write_table tr td .file_box .btn_file_box .view {display:inline-block; width:174px; height:50px; position:absolute; top:0; left:0; border:0; background-color:#4a4a4a; color:#fff; text-align:center; line-height:50px;}
	.write_table tr td .file_box .btn_file_box .hidden {height:30px; position:absolute; top:0; right:0; filter:alpha(opacity=0); opacity:0; font-size:30px; z-index:10;}

	.write_table tr td .captcha_box {width:100%; overflow:hidden;}
	.write_table tr td .captcha_box .captcha {width:227px; height:48px; border:1px solid #dfdfdf; background-color:#fff; text-align:center; float:left;}
	.write_table tr td .captcha_box .captcha img {height:48px; vertical-align:top;}
	.write_table tr td .captcha_box input {float:left; height:48px; margin-left:10px; margin-right:20px;}
	.write_table tr td .captcha_box p {float:left; line-height:48px;}

	/* ===== contents ================max-width: 1620px======================= */
    .search_box_se {position:absolute; right:0px; top:-40px; text-align:right; }
    .search_box_se select {height: 30px; width: 105px; }
    .search_box_se input[type="text"] {height: 28px; line-height:28px;}
    .search_box_se input[type="submit"] {border: solid 0px #acacac; height: 30px; width: 64px; line-height:30px; font-size:14px;}

    .sep_counter {margin-bottom: 40px;}
    .sep_tab_box1 {margin-bottom: 30px; }

    .sep_tab {height: 44px; }
    .sep_tab ul {width:990px;}
    .sep_tab ul li {width: 155px; margin-right: 0; margin-left: 9px;}
    .sep_tab ul li:first-child {margin-left: 0px;}
    .sep_tab ul li a {height: 44px; line-height:44px; font-size:18px;}
    .sep_tab ul li.on a {height: 54px;}
	
    .sep_tab .type2 li {width: 188px; margin-right: 0; margin-left: 9px;}

    .sep_orderby {position:static; float: none; text-align:center; margin-top: 30px;} 
    .sep_orderby li {float: none; margin-left: 10px; display:inline-block; } 
    *:first-child+html .sep_orderby li {display:inline; }
    .sep_orderby li a {width: 79px; height: 29px; background:url(../../images/common/bg_order1_980.png) -83px 0 no-repeat; font-size:16px; line-height:29px; }

    .sep_list {width: 100%;}
    .sep_list ul li a {height: 139px; padding: 0 50px 20px 170px; }

    .sep_list ul li a .date_box {position:static; margin-top: 15px;} 
    .sep_list ul li a .date_box span {padding-left: 0px; padding-right: 10px; }

    .seq_collect_wrap .inner_box {width: 980px;}
    .seq_collect_wrap .inner_box ul {width: 110%; overflow:hidden; }
    .seq_collect_wrap .inner_box ul li {width: 236px; }
    .seq_collect_wrap .inner_box ul li a {display:block; height: 48px; border: solid 1px #e3e3e3; background-color:#fff; color:#727272; text-align:center; line-height:48px; font-size:18px; }
    .seq_collect_wrap .inner_box ul li a:hover {background-color:#33a5fc; color:#fff; font-weight:bold; }
    
    /* === member =============max-width: 1620px============== */
    .member_wrap .login_box label {left:104px;}
    .member_wrap .login_box input[type=text] {left:238px;}
    .member_wrap .login_box input[type=password] {left:238px;}
    .member_wrap .login_box input[type=submit] {left:648px;}
    .member_wrap .login_box a {left:238px;}
    
    .member_wrap .login_box2 label {left:104px;}
    .member_wrap .login_box2 input[type=text] {left:238px;}
    .member_wrap .login_box2 input[type=password] {left:238px;}
    .member_wrap .login_box2 input[type=submit] {left:648px;}
    .member_wrap .login_box2 a {left:238px;}
    
    /* === online === */
    .online_step1 ul li {width:138px; height:140px; padding-left:72px; background:url(../img/step1_arrow2.png) 16px 51px no-repeat;}
    .online_step1 ul li div {width:138px; height:140px; background:url(../img/step1_bg2.png) 0 0 no-repeat; font-size:17px; line-height:23px;}
    .online_step1 ul li.s1 div {height:69px; padding:36px 0 35px;}
    .online_step1 ul li.s2 div {height:69px; padding:36px 0 35px;}
    .online_step1 ul li.s3 div {height:46px; padding:47px 0 47px;}
    .online_step1 ul li.s4 div {height:23px; padding:59px 0 58px;}
    .online_step1 ul li.s5 div {height:46px; padding:47px 0 47px;}

    .sep_view {width: 100%;}
    .sep_view .title_box .outer_box .inner_box {height: 139px; padding: 0 50px 20px 70px;}
	.sep_view .title_box .outer_box .inner_box .date_box {display:block; position:absolute; left:70px; bottom:15px; top:100px; right:inherit;} 
    .sep_view .title_box .outer_box .inner_box .date_box span {padding-left: 0px; padding-right: 10px; }
    .sep_view .prev_next_wrap span { width: 100%; margin-bottom: 1px; } 

	.sep_view1 {width: 100%;}
	.sep_view1 .title_box .outer_box .inner_box { padding: 50px ; }
	.sep_view1 .title_box .outer_box .inner_box .date_box {position:static; margin-top: 15px;} 
	.sep_view1 .title_box .outer_box .inner_box .date_box span {padding-left: 0px; padding-right: 10px; }
	.sep_view1 .prev_next_wrap span { width: 100%; margin-bottom: 1px; }	

    .coun_list ul li a { height: 139px; padding: 0 50px 20px 170px; }
    .coun_list ul li a .date_box {position:static; margin-top: 15px;} 
    .coun_list ul li a .date_box span {padding-left: 0px; padding-right: 10px; }

    .coun_view .title_box .txt_box {padding-bottom: 0px; }
    .coun_view .title_box { min-height: 139px; padding: 0 50px 20px 47px; }
    .coun_view .title_box .date_box {position:static; margin-top: 15px;} 
    .coun_view .title_box .date_box span {padding-left: 0px; padding-right: 10px; }
	
    .location_wrap .location_cont { min-height: 468px; padding: 15px 15px 15px 602px; }
 
	.story_wrap .story_section1 .inner_sec {width: 980px; height: 565px; }
    .story_wrap .story_section1 .tit {font-size:40px; line-height:44px; padding-top: 50px;}
    .story_wrap .story_section1 .conts {width: 980px; height: 400px; background:url(../../images/introduction/img_story1_pc2.png) 0 0 no-repeat; }

    .story_wrap .story_section2 .inner_sec {width: 980px; height: 770px; margin: 0 auto; position:relative; }
    .story_wrap .story_section2 .tit {padding-top: 60px; text-align:center; }
    .story_wrap .story_section2 .conts {width: 980px; height: 483px; top:230px; background:url(../../images/introduction/img_story2_pc2.png) 0 0 no-repeat; }

    .story_wrap .story_section3 .inner_sec {width: 980px; height: 650px; margin: 0 auto; position:relative; }
    .story_wrap .story_section3 .tit {padding-top: 60px; text-align:center; }

    .story_wrap .story_section3 .conts {width: 100%; overflow:hidden; position:relative; margin-top: 40px;}
    .story_wrap .story_section3 .conts ul li {float: left; width: 304px; height: 384px; margin-right: 35px;}
    .story_wrap .story_section3 .conts ul li .icon {padding-top: 30px; padding-bottom: 15px; }
    .story_wrap .story_section3 .conts ul li .icon img {width: 170px; }
    .story_wrap .story_section3 .conts ul li .sub_tit {font-size:20px; line-height:24px; padding-bottom: 20px; }
    .story_wrap .story_section3 .conts ul li .comment {font-size:12px; line-height:18px; }              
    .story_wrap .story_section3 .conts ul li .icon2 {width: 62px; left:-49px; margin-top: -31px;}

}


/*=======================모바일 영역 ============================*/

@media screen and (max-width: 640px) {
    /*default*/
    input                   {vertical-align:middle; outline:none;}
    input[type='text'],
    input[type='password']  {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    select                  {}
    textarea { width: 95% !important; }
    input[type='file'],
    input[type='image'],
    input[type='reset'],
    input[type='button'],
    input[type='submit'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }


    .mobile_hidden {display:none; }
    
    /* === layout === */
    #wrap {width: 100%; min-width:100%; _position:relative; }

    /*#header .inner_header {width: 100%; height: 45px;  background:url(../../images/common/180419_header_640.png) no-repeat; }*/
	
	#header.scroll{position:fixed;background-color:#fff}
	
	#header .inner_header {width: 100%; height: 45px; }
    #header .inner_header .logo {position:absolute; left:45%; top: -20px; margin-left: -58px;}
    #header .inner_header .logo img {width: 150px; }

    #header .global_menu {width: 100%; position:absolute; left:10px; bottom:inherit; top:13px; margin-left: 0; text-align:left; }
    #header .global_menu li {background-position: left 5px;}
    #header .global_menu li a {font-size:12px; color:#222; line-height:18px; padding: 0 13px; font-weight:bold; vertical-align:top; }

    #header .back {display:none; position:fixed; left:0px; top:0px; width: 100%; height: 100%; background-color:#000; opacity:0.7;}
    
    #header .all_menu_opener {display:block;}
	#header .open-counsel {display:block;}

    #header .gnb_wrap {width: 100%;}
    #header .gnb_section {position:fixed; left:-86%; top:0px; z-index:700; width: 86%; height: 100%; overflow:hidden; overflow-y:auto; background-color:#fff; 
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }
    #header.open_allmenu .gnb_section {left:0;}

    #header .mobile_gnb_close {display:block; position:absolute; right:11px; top:11px; }
    #header .mobile_gnb_close img {width: 23px;}


    #gnb {margin-top: 45px;}
    #gnb > li {float: none; width: 100%; border-bottom: solid 1px #cccccc;}
    #gnb > li:first-child {border-top: solid 1px #093970 ;}
    #gnb > li .btn_depth1 {display:block; height: 43px; padding-top: 0px; padding-left: 15px;  line-height:43px; font-size:18px; color:#222; text-align:left; font-weight:bold; border-right: solid 0px #00326b; background:url(../img/ico_gnb_arrow1.gif) right center no-repeat #fff !important; background-size: 29px auto !important;}   
    #gnb > li:first-child .btn_depth1 {border-left: solid 0px #00326b;}

    #gnb > li.on .btn_depth1 {background:url(../img/ico_gnb_arrow2.gif) right center no-repeat #0053b0 !important; background-size: 39px auto !important; color:#fff;}
    #gnb > li.current .btn_depth1 {background-color:#fff !important;}

    #gnb > li .dns_wrap {position:static; display:none; }
    #gnb > li.on .dns_wrap {display:block; }
    #gnb > li .dns {width: 100%; height: auto; padding-top: 0; margin: 0 auto; overflow:hidden; vertical-align:top; background:none !important;}
    #gnb > li .dns .dns_tit {display:none; }

    #gnb > li .dns .depth2_wrap {width: 100%; padding-left: 0; padding-top: 0; float: left;  background-color:#002e62; }
    #gnb > li .dns .depth2_wrap > li {float: left; width: 50%; border-bottom: solid 1px #0053b0;}
    #gnb > li .dns .depth2_wrap > li a {display:block; border-right: solid 1px #0053b0; margin-bottom: 0px; padding: 0 13px; color:#fff; font-size:12px; font-weight:bold; line-height:40px; background:none; background-color:#002e62;}
    #gnb > li .dns .depth2_wrap > li a:hover {background:none #002e62;}

    #contents {width: 100%;}

    #contents.sub_epilogue { padding-top: 0px; padding-bottom: 10px; }
    #contents.online_wrap {padding:25px 0;}
    #contents.member_wrap {padding:25px 0 50px;}


    /* =============== main =====max-width: 640px======== */

    .main_follow_menu {display:none; }

    .main_section1 .slider {height: auto;}
    .main_section1 .slider a {display:block; width: 100%; height: auto; background:none !important; }
    .main_section1 .slider a > img {display:inline; width: 100%; }
    .main_section1 .slide_page {bottom:15%; z-index:200;}
    .main_section1 .slide_page span {width: 15px; height: 15px; background:url(../../images/main/round1.png) -23px 0 no-repeat; background-size: 38px auto;}
    .main_section1 .slide_page span.cycle-pager-active {width: 15px;}


	.re_area .re_button {  background-color: #fff; padding-left: 10px; padding-bottom: 10px; float: left; padding-top: 15px; position: relative; height: auto; width: 95%}
	.re_area button { padding: 4px 10px; float: left; margin-left: 5px;}
	.reply { padding-left: 20px; padding-top: 5px; padding-bottom: 10px; overflow: hidden; height: auto; width: 97%; position: relative }
	.reply .reply_ment { padding: 5px 5px 0px 5px; overflow: hidden; height: auto; width: 100%; right: 10px; border-bottom: solid 1px #e2e2e2; position: relative }
	.reply .re_profile { width: 15%; height: 110px; background:url("../img/profile.png") 0 0 no-repeat;  background-position: center; float: left; position: relative; }
	.reply .re_area { background-color: #fff; float: left; height: 77%; width: 85%; position: relative }
	.reply .re_area .up { background-color: #fff; float: left; padding-top: 5px; padding-left: 5px; height: auto; width: 95%; position: relative; }
	.reply .re_area .down { background-color: #fff; float: left; padding-left: 5px; height: auto; width: 95%;  position: relative; }
	.reply .re_button {  background-color: #fff; padding-left: 10px; padding-bottom: 10px; float: left; padding-top: 15px; position: relative; height: auto; width: 95%}
	.reply .re_button button { padding: 4px 10px; float: left; margin-left: 5px;}
	.reply .loc{ position: relative; float: right; right: 5%}
	.reply .reply_txt { margin-right: 30px; font-size:15px; color:#111 }

		
    /* ============== common =============max-width: 640px========= */
    .sub_visual_wrap.com {background:url(../img/communication.jpg) center bottom no-repeat; background-size: 100%;}
    .sub_visual_wrap.share {background:url(../img/share.jpg) center bottom no-repeat; background-size: 100%;}
    .sub_visual_wrap.myinfo {background:url(../img/myinfo.jpg) center bottom no-repeat; background-size: 100%;}
	.sub_visual_wrap.member {background:url(../img/signup.jpg) center bottom no-repeat; background-size: 100%;}

    .sub_visual_wrap .inner_box {width: 100%; height: 135px; }
    .sub_visual_wrap .inner_box .location {display:none; }
    .sub_visual_wrap .inner_box .tit {margin-top: 2px; padding: 35px 20px 10px 20px; font-size:36px; line-height:30px; }
    .sub_visual_wrap .inner_box .tit .m { display:none; }
    .sub_visual_wrap .inner_box p {padding: 0 20px; font-size:15px; line-height:15px; }
    .sub_visual_wrap .inner_box p span {display:block; }

    .sub_visual_wrap .inner_box2 {width: 100%; height:0;}
    .sub_visual_wrap .inner_box2 .location {display:none;}

	.tab_wrap1 {padding-top:0px; padding-bottom:25px;}
	.tab_wrap1 .tab_inner1 {width:100%;}

    .tab_style1 {border-bottom: solid 2px #33a5fc;}
    .tab_style1.two ul li {float: left; width: 50%;}
    .tab_style1.three ul li {float: left; width: 33.333333%;}
    .tab_style1 ul li a {display:block; height: 38px; line-height:38px; font-size:16px; border: solid 1px #33a5fc; border-bottom: solid 0px #fff;}

    .pagination_wrap {padding: 25px 0 0 0 ; }
    .pagination_wrap.prom {padding: 10px 0 0 0 ; }
    .pagination_wrap .pagination a {vertical-align:top; margin: 0 0px;}
    .pagination_wrap .pagination a > img {width: 23px; }
    .pagination_wrap .pagination .number {padding:  0 10px; }
    .pagination_wrap .pagination .number a {width: 23px; height: 23px; font-size:18px; line-height:23px; margin: 0 0px;}
    .pagination_wrap .pagination .number a.on {font-size:18px; }

    .list_btn_area {padding-top:25px;}
    .list_btn_area .btn_gray {width:91px; height:30px; font-size:15px; line-height:30px;}

	.text_modify_btn {padding-top: 10px; right:10px; position: relative; float: left; text-align: right; width: 100%}
	.text_modify_btn .btn_modi {padding-top: 5px; display:inline-block; text-align: center; width:100px; height:35px; font-size:20px; color:#fff; background-color: #525252;}
	
	.list_btn_area2 {padding-bottom:25px;}
    .list_btn_area2 .btn_gray {width:91px; height:30px; font-size:15px; line-height:30px;}

    .write_table {}
    .write_table tr th {width:20%; height:35px; padding: 5px; font-size:12px; line-height:35px;}
    .write_table tr th label {line-height:35px;}
    .write_table tr td {padding:5px 0; font-size:12px; line-height:35px;}
    .write_table tr td input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .write_table tr td textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .write_table tr td input[type=text] {height:35px; font-size:11px; line-height:35px;}
    .write_table tr td input[type=password] {height:35px; font-size:11px; line-height:35px;}
    .write_table tr td select {height:35px; font-size:11px; line-height:35px;}
    .write_table tr td .red {font-size:11px; margin-left:0px;}
    .write_table tr td .w326 {width:100%;}
    .write_table tr td .w229 {width:100%;}
    .write_table tr td .wFull {width:97%;}
    .write_table tr td textarea {width:100%; height:236px;}

    .write_table tr td .phone_box {}
    .write_table tr td .phone_box select {width:100%; margin-bottom:5px; float:none;}
    .write_table tr td .phone_box input {width:100%;}
    .write_table tr td .phone_box div {
/*        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;*/
    }
    .write_table tr td .phone_box .box1 {width:48%; float:left; padding-left:0px; background:none;}
    .write_table tr td .phone_box .box2 {width:52%; float:left; padding-left:14px; background:url(../img/hyphen1.gif) 5px 17px no-repeat; background-size:4px 1px;}
    .write_table tr td .mail_box {}
    .write_table tr td .mail_box select {width:100%; float:none; margin-left:0;}
    .write_table tr td .mail_box input {width:100%;}
    .write_table tr td .mail_box div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .write_table tr td .mail_box .box1 {float:none; margin-bottom:5px;}
    .write_table tr td .mail_box .box2 {float:none; margin-bottom:5px; padding-left:15px; background:url(../img/alpha.gif) 0 14px no-repeat; background-size:9px;}
    .write_table tr td label {margin-left:10px; font-size:11px;}
    .write_table tr td label:first-child {margin-left:0px;}

    .write_table tr td .file_box {width:auto; padding-right:66px; height:35px;}
    .write_table tr td .file_box input[type=text] {width:100%; height:35px;}
    .write_table tr td .file_box .btn_file_box {width:66px; height:35px;}
    .write_table tr td .file_box .btn_file_box .view {width:66px; height:35px; font-size:12px; line-height:35px;}
    .write_table tr td .file_box .btn_file_box .hidden {}

    .write_table tr td .captcha_box {}
    .write_table tr td .captcha_box .captcha {width:100%; height:35px; margin-bottom:5px; float:none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .write_table tr td .captcha_box .captcha img {height:33px;}
    .write_table tr td .captcha_box input {float:none; width:100%; height:35px; margin-left:0px; margin-right:0px; margin-bottom:10px;}
    .write_table tr td .captcha_box p {float:none; font-size:11px; line-height:14px;}


    /* === contents === */

    .sep_tab_box1 {position:relative; margin-bottom: 0px; z-index:20; }                 

    .search_box_se {position:static; text-align:center; padding: 10px 0px 15px 0px; height: 10px; }
    .search_box_se select {height: 30px; width: 70px; font-size:13px; }
    .search_box_se input[type="text"] {height: 30px; width: 130px; line-height:30px;}
    .search_box_se input[type="submit"] {height: 30px; width: 42px; line-height:30px; font-size:13px;}

    .search_box_body { background-color: #e0e8e6; display: block; position:static; text-align:center; padding: 5px 0;}
    .search_box_body select {height: 30px; width: 55px; font-size:13px; }
    .search_box_body select[id="siseol"] {height: 30px; width: 80px; font-size:13px; }
    .search_box_body input[type="text"] {height: 30px; width: 120px; line-height:30px;}
    .search_box_body input[type="submit"] {height: 30px; width: 42px; line-height:30px; font-size:13px; display: inline-block; border: 1px solid; background-color: #acacac; color: #fff; font-weight: bold;}

    .sep_counter {position:relative; margin-bottom: 25px; height: 55px; padding-left: 142px; padding-top: 15px; text-align:left; background-size: auto 100%; font-size:11px; line-height:20px;}
    .sep_counter .number {position:absolute; left:15px; top:15px; width:120px; display:inline-block; vertical-align:top; }
    .sep_counter .number em {display:inline-block; margin-left: 0px; width: 25px; height: 42px; padding-right: 2px; font-size:34px; line-height:42px; text-align:center; background-size: 27px 42px; }
    .sep_counter > strong {display:block; font-size:13px; }

    .sep_tab {height: auto; }
    .sep_tab .tit {display:block; background:url(../img/ico_arrow1.gif) right center no-repeat; background-size: 38px auto; background-color:#33a5fc; border-bottom: solid 2px #0053b0;}
    .sep_tab .tit a {display:block; height: 45px; text-align:center; line-height:45px; color:#fff; font-size:20px; }
    .sep_tab ul {display:none; width: 100%; padding: 10px 0; background-color:#0053b0; overflow:hidden; position:absolute; left:0px; top:47px;  }
    .sep_tab.m_on ul {display:block;}
    .sep_tab ul li {float: none; width: 100%; margin-right: 0; margin-left: 0px;}
    .sep_tab ul li:first-child {width: 100%; }
    .sep_tab ul li a {display:block; height: auto; padding: 5px 0; line-height:20px; font-size:14px; color:#fff; font-weight:bold; text-align:center; background-color:#0053b0;}
    .sep_tab ul li.on a {height: auto; background:#0053b0;  color:#fff;}
    .sep_tab .type2 li {width: 100%; margin-right: 0; margin-left: 0px;}

    .sep_orderby {position:static; float: none; padding: 15px 0; margin-top: 0px;} 
    .sep_orderby li {float: none; margin-left: 0; display:inline-block; } 
    .sep_orderby li a {display:inline-block; width: 76px; height: 29px; font-size:15px; line-height:29px; background-position: -81px 0; background-size:156px auto;}
    .sep_orderby li.on a {background-position: 0 0; color:#fff;}

    .sep_list ul {border-top: solid 2px #33a5fc;}
    .sep_list ul li {margin-bottom: 5px; }
    .sep_list ul li a {height: 113px; min-height:auto; padding: 0 15px 0 75px;}
    .sep_list ul li a .img_box {left:15px; top:15px; width: 50px; height: 50px;}
    .sep_list ul li a .img_box .tcsc {width: 50px; height: 50px; background-size:50px 50px;}
    .sep_list ul li a .img_box .snsc {width: 50px; height: 50px; background-size:50px 50px;}
    .sep_list ul li a .img_box .cover {width: 50px; height: 50px; background-size:50px 50px;}


    .sep_list ul li a .img_box .best {margin-top: 17px; z-index:15; font-size:15px; line-height:18px;}
    .sep_list ul li.best a .img_box .cover { background-size:50px 50px;}
	.sep_list ul li.best a .img_box .tcsc { background-size:50px 50px;}
	.sep_list ul li.best a .img_box .snsc { background-size:50px 50px;}
	.sep_list ul li.best a .img_box .jwli { background-size:50px 50px;}
	.sep_list ul li.best a .img_box .sjli { background-size:50px 50px;}
	.sep_list ul li.best a .img_box .nopl { background-size:50px 50px;}
        
    .sep_list ul li a .txt_box {padding-top: 17px; }
   
    .sep_list ul li a .txt_box .name {font-size:18px; line-height:18px; font-weight:bold; padding-top: 10px; }
    .sep_list ul li a .date_box {display:block; position:absolute; bottom:15px; top:inherit; left: 17px; width:360px;} 
    .sep_list ul li a .date_box span {font-size:11px; line-height:18px; padding-left: 0px; padding-right: 5px; letter-spacing:-1px; }
    .sep_list ul li a .date_box span em {width: 44px; height: 18px; font-size:11px; line-height:18px; background-size: 44px 18px; margin-right: 1px;}

    .seq_collect_wrap {padding: 20px 0 18px 0; }
    .seq_collect_wrap .tit {text-align:center; padding-bottom: 20px; font-size:20px; line-height:22px;}
    .seq_collect_wrap .inner_box {width: 100%; padding: 0 10px; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .seq_collect_wrap .inner_box ul {width: 100%; }
    .seq_collect_wrap .inner_box ul li {width: 50%; padding: 0 5px 5px 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .seq_collect_wrap .inner_box ul li a {height: 26px; line-height:26px; font-size:11px; }


    /* === member === */
    .member_wrap .login_box {height:auto; padding:15px; margin-bottom:25px; text-align:right;}
    .member_wrap .login_box label {font-size:12px; left:15px; line-height:35px;}
    .member_wrap .login_box .label1 {top:15px;}
    .member_wrap .login_box .label2 {top:60px;}
    .member_wrap .login_box input[type=text] {width:70%; height:35px; margin-bottom:10px; position:static; line-height:35px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .member_wrap .login_box input[type=password] {width:70%; height:35px; margin-bottom:10px; position:static; line-height:35px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .member_wrap .login_box a {width:100%; display:block; margin-bottom:10px; position:static; text-align:left; font-size:11px; line-height:16px; padding-left:30%;}
    .member_wrap .login_box input[type=submit] {width:100%; height:35px; position:static; font-size:15px;}
    .member_wrap .login_btn {padding:0 25px;}
    .member_wrap .login_btn .fl_c {width:100%;}
    .member_wrap .login_btn .fl_c a {float:none; width:100%; height:35px; font-size:15px; line-height:35px;}
    .member_wrap .login_btn .fl_c .btn_green {margin-bottom:10px;}
    .member_wrap .login_btn .fl_c .btn_blue {margin-left:0px;}
    
    .member_wrap .login_box2 {height:auto; padding:15px; margin-bottom:25px; text-align:right;}
    .member_wrap .login_box2 dl {height:80px; margin-bottom:20px;}
    .member_wrap .login_box2 dl dt {padding-top:20px; font-size:20px; line-height:30px;}
    .member_wrap .login_box2 dl dd {font-size:11px; line-height:30px;}
    .member_wrap .login_box2 label {font-size:12px; left:15px; line-height:35px;}
    .member_wrap .login_box2 .label1 {top:115px;}
    .member_wrap .login_box2 .label2 {top:160px;}
    .member_wrap .login_box2 input[type=text] {width:70%; height:35px; margin-bottom:10px; position:static; line-height:35px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .member_wrap .login_box2 input[type=password] {width:70%; height:35px; margin-bottom:10px; position:static; line-height:35px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .member_wrap .login_box2 a {width:100%; display:block; margin-bottom:10px; position:static; text-align:left; font-size:11px; line-height:16px; padding-left:30%;}
    .member_wrap .login_box2 input[type=submit] {width:100%; height:35px; position:static; font-size:15px;}
    .member_wrap .login_btn2 {padding:0 25px;}
    .member_wrap .login_btn2 .fl_c {width:100%;}
    .member_wrap .login_btn2 .fl_c a {float:none; width:100%; height:35px; font-size:15px; line-height:35px;}
    .member_wrap .login_btn2 .fl_c .btn_green {margin-bottom:10px;}
    .member_wrap .login_btn2 .fl_c .btn_blue {margin-left:0px;}
    
    .member_wrap .terms_article {padding:30px 15px 0;}
    .member_wrap .terms_article h4 {margin-bottom:10px; font-size:16px; line-height:22px;}
    .member_wrap .terms_article .scroll {padding:15px; height:120px; font-size:12px; line-height:16px;}
    .member_wrap .terms_article .scroll h5 {font-size:12px;}
    .member_wrap .terms_article .scroll h6 {margin-top:16px; font-size:12px;}

    .agreement_box {padding:15px 0;}
    .agreement_box label {font-size:11px;}
    .agreement_box label:first-child {margin-right:32px;}

    .agreement_box2 {padding:15px; text-align:left; position:relative;}
    .agreement_box2 label {display:block; font-size:11px;}
    .agreement_box2 label:first-child {margin-right:32px;}
    .agreement_box2 .btn_detail {width:65px; height:23px; position:absolute; top:50%; right:15px; margin-top:-12px; font-size:12px; line-height:23px;}
    
    .write_btn_area {padding-top:25px;}
    .write_btn_area .fl_c a,
    .write_btn_area .fl_c input{width:91px; height:30px; font-size:15px; line-height:30px;}
    
    .write_table_wrap1 {padding:15px; margin-top:25px;}
    
    .member_wrap .find_wrap {width:auto; padding:15px;}
    .member_wrap .find_wrap .write_table {width:100%;}
    .member_wrap .find_wrap .write_table tr th {width:30.86%;}
    .member_wrap .find_wrap .write_table tr td.text {padding-left:0;}
    .member_wrap .find_wrap .write_table tr td ul {padding-top:0px;}
    .member_wrap .find_wrap .write_table tr td ul li {font-size:12px; line-height:22px;}
    
    /* === online === */
    .online_step1 ul {display:block; width:320px; height:142px; position:relative; margin:0 auto;}
    .online_step1 ul li {width:69px; height:70px; padding-left:42px; background:url(../img/step1_arrow2.png) 11px 25px no-repeat; background-size:19px;}
    .online_step1 ul li div {width:69px; height:70px !important; background:url(../img/step1_bg2.png) 0 0 no-repeat; font-size:11px; line-height:14px; background-size:69px 70px; letter-spacing:-1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .online_step1 ul li.s4 {margin-left:24px;}
    .online_step1 ul li.s1 div {padding-top:15px;}
    .online_step1 ul li.s2 div {padding-top:15px;}
    .online_step1 ul li.s3 div {padding-top:20px;}
    .online_step1 ul li.s4 div {padding-top:25px;}
    .online_step1 ul li.s5 div {padding-top:22px;}
    
    .btn2 { width: 42px; height: 30px; line-height:30px; font-size:13px; }
    
    .sep_view .title_box {border-top: solid 2px #33a5fc;}
    .sep_view .title_box .outer_box {margin-bottom: 5px; }
    .sep_view .title_box .outer_box .inner_box {height: 113px; min-height:auto; padding: 0 15px 0 10px;}
    .sep_view .title_box .outer_box .inner_box .img_box {left:15px; top:15px; width: 50px; height: 50px;}
    .sep_view .title_box .outer_box .inner_box .img_box .cover {width: 50px; height: 50px; background-size:50px 50px;}
    .sep_view .title_box .outer_box .inner_box .img_box .best {margin-top: 15px; font-size:15px; line-height:18px; }
    .sep_view .title_box .outer_box.best .inner_box .img_box .cover { background-size:50px 50px;}
    .sep_view .title_box .outer_box .inner_box .img_box .cover1 {width: 50px; height: 43px; top:0px; background-size:50px 43px; }
    .sep_view .title_box .outer_box .inner_box .img_box .count { font-size:13px; line-height:38px; }
    .sep_view .title_box .outer_box .inner_box .txt_box {padding-top: 17px; }
    .sep_view .title_box .outer_box .inner_box .txt_box.promo {padding-top: 25px; }
    .sep_view .title_box .outer_box .inner_box .txt_box .name {font-size:17px; line-height:18px; font-weight:bold; }
    .sep_view .title_box .outer_box .inner_box .date_box {display:block; position:absolute; left:0px; bottom:15px; top:60px; right:inherit;} 
    .sep_view .title_box .outer_box .inner_box .date_box span {font-size:11px; line-height:18px; padding-left: 15px; padding-right: 5px; letter-spacing:-1px; }
    .sep_view .title_box .outer_box .inner_box .date_box span em {width: 47px; height: 18px; font-size:11px; line-height:18px; background-size: 47px 18px; margin-right: 3px;}
    .sep_view { margin-top: 25px;}
    .sep_view .cont_box { padding: 15px; margin-bottom:0px; border-bottom: solid 2px #33a5fc; }
	.sep_view .cont_box img {width:100%; height:auto;}
    .sep_view.self_write .cont_box img { width: 100%; height:auto;}
    .sep_view .reply_box { padding-left: 10px; padding-bottom: 45px; padding-top: 5px; background:none; background-color:#f6f6f6;}
    .sep_view .reply_box span { display:block; line-height:47px; }
    .sep_view .reply_box .reply_txt { margin-right: 0px; font-size:15px; }
    .sep_view .reply_box .reply_btn a { height: 47px; padding-left: 55px; background-size:47px; font-size:22px; }
    .sep_view .file_down { height: 42px; line-height:42px; }
    .sep_view .file_down .ico_file { width: 72px; height: 42px; line-height:42px; background:url(../../images/epilogue/ico_down.gif) 10px center no-repeat #ebebeb; }
    .sep_view .file_down a { padding:0 25px 0 92px; }
    .sep_view .prev_next_wrap { padding-bottom: 25px; }
    .sep_view .prev_next_wrap span { height: 42px; line-height:42px; }
    .sep_view .prev_next_wrap span a { padding:0 25px 0 92px; }
    .sep_view .prev_next_wrap span strong { width: 72px; height: 42px; line-height:42px; }
    .sep_view .prev_next_wrap .prev strong { background:url(../img/btn_prev.gif) 10px center no-repeat #ebebeb; }
    .sep_view .prev_next_wrap .next strong { background:url(../img/btn_next.gif) 10px center no-repeat #ebebeb; }

	.sep_view1 { margin-top: 25px;}
	.sep_view1 .title_box {border-top: solid 2px #33a5fc;}
	.sep_view1 .title_box .outer_box {margin-bottom: 5px; }
	.sep_view1 .title_box .outer_box .inner_box { padding: 15px 15px 50px 15px;}
	.sep_view1 .title_box .outer_box .inner_box .txt_box .name {font-size:17px; line-height:18px; font-weight:bold; }
	.sep_view1 .title_box .outer_box .inner_box .date_box {display:block; position:absolute; left:15px; bottom:15px; top:inherit; right:inherit;} 
	.sep_view1 .title_box .outer_box .inner_box .date_box span {font-size:11px; line-height:18px; padding-left: 0px; padding-right: 5px; letter-spacing:-1px; }
	.sep_view1 .title_box .outer_box .inner_box .date_box span em {width: 47px; height: 18px; font-size:11px; line-height:18px; background-size: 47px 18px; margin-right: 3px;}
	.sep_view1 .cont_box { padding: 25px; margin-bottom:0px; border-bottom: solid 0px #fff; }
	.sep_view1 .cont_box img { width: 100%; }
	.sep_view1 .file_down { height: 42px; line-height:42px; }
	.sep_view1 .file_down .ico_file { width: 72px; height: 42px; line-height:42px; background:url(../../images/epilogue/ico_down.gif) 10px center no-repeat #ebebeb; }
	.sep_view1 .file_down a { padding:0 25px 0 92px; }
	.sep_view1 .prev_next_wrap { padding-bottom: 25px; }
	.sep_view1 .prev_next_wrap span { height: 42px; line-height:42px; }
	.sep_view1 .prev_next_wrap span a { padding:0 25px 0 92px; }
	.sep_view1 .prev_next_wrap span strong { width: 72px; height: 42px; line-height:42px; }
	.sep_view1 .prev_next_wrap .prev strong { background:url(../img/btn_prev.gif) 10px center no-repeat #ebebeb; }
	.sep_view1 .prev_next_wrap .next strong { background:url(../img/btn_next.gif) 10px center no-repeat #ebebeb; }

    .btn1 { width: 90px; height: 30px; line-height:30px; font-size:15px; }

    .coun_list ul {border-top: solid 2px #33a5fc; border-bottom: solid 1px #33a5fc;}
    .coun_list ul li {margin-bottom: 5px; }
    .coun_list ul li a {height: 113px; min-height:auto; padding: 0 15px 0 75px;}
    .coun_list ul li a .mark_box {left:15px; top:15px; width: 50px; height: 50px;}
    .coun_list ul li a .mark_box .cover {width: 50px; height: 50px; background-size:50px 50px;}
    .coun_list ul li a .mark_box .mark {background-color: white; padding: 0px; margin-top: 10px; z-index:15; font-size:12px; line-height:15px; }
    .coun_list ul li.completion a .mark_box .cover { background-size:50px 50px;}
    .coun_list ul li.processing a .mark_box .cover { background-size:50px 50px;}
    .coun_list ul li a .txt_box {padding-top: 17px; }
	.coun_list ul li a .txt_box .name {font-size:18px; line-height:18px; font-weight:bold; }
    .coun_list ul li a .date_box {display:block; position:absolute; left:15px; bottom:15px; top:inherit; right:inherit;} 
    .coun_list ul li a .date_box span {font-size:11px; line-height:18px; padding-left: 0px; padding-right: 5px; letter-spacing:-1px; }
    .coun_list ul li a .date_box span em {width: 47px; height: 18px; font-size:11px; line-height:18px; background-size: 47px 18px; margin-right: 3px;}

    .coun_view .title_box {min-height: 113px; min-height:auto; padding: 0 15px;}
    .coun_view .title_box .txt_box { padding-top: 17px; padding-bottom: 50px; }
    .coun_view .title_box .txt_box .branch { padding-left: 5px; width: 120px; height: 26px; margin-bottom: 0px; font-size:12px; line-height:18px;}
    .coun_view .title_box .txt_box .name {font-size:17px; line-height:18px; font-weight:bold; }
    .coun_view .title_box .date_box {display:block; position:absolute; left:15px; bottom:15px; top:inherit; right:inherit;} 
    .coun_view .title_box .date_box span {font-size:11px; line-height:18px; padding-left: 0px; padding-right: 5px; letter-spacing:-1px; }
    .coun_view .title_box .date_box span em {width: 47px; height: 18px; font-size:11px; line-height:18px; background-size: 47px 18px; margin-right: 3px;}

    .coun_view .question_box { padding: 25px 15px 25px 85px; }
    .coun_view .question_box .ico_q { width: 38px; height: 38px; line-height:38px; font-size:20px; background-size:38px 38px; position:absolute; left:30px; top:25px; }

    .coun_view .answer_box { padding:13px 15px 25px 15px; }
    .coun_view .answer_box .bul_a { position:absolute; left:50px; top:0px; }
    .coun_view .answer_box .bul_a img { width: 24px; height: 15px; }
    .coun_view .answer_box .answer_inner { padding: 20px 10px 20px 65px; border: solid 2px #33a5fc; }
    .coun_view .answer_box .answer_inner .ico_a { width: 38px; height: 38px; line-height:38px; font-size:20px; background-size:38px 38px; position:absolute; left:30px; top:35px; }
    .coun_view .tit_qa { padding-bottom: 15px; font-size:12px; line-height:15px; }
    .coun_view .txt_qa { font-size:11px; line-height:16px; }

    #contents.mypage_wrap { padding-top: 25px; padding-bottom: 50px; }
    #contents.mypage_wrap .table_input1_wrap { margin: 0 0 25px 0; padding: 10px 0; }   

    .sep_tab_box2 {position:relative; margin-bottom: 25px; z-index:20; }

    .member_wrap .idpass_result {padding:35px 15px; width: auto; }
    .member_wrap .idpass_result strong {font-size:15px; line-height:20px; padding-bottom: 15px; }
    .member_wrap .idpass_result strong span { border-bottom: solid 1px #fb5605;}
    .member_wrap .idpass_result .comment {font-size:12px; line-height:18px;}

    .tab_wraper {padding:0px 0 25px;}
    .n_congestion_wrap .tab_wraper {padding:0px 0 25px;}
    .sub_location {display:none; }
    .promo_list ul {width: 100%; padding: 0 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .promo_list ul li {width: 50%; padding: 0 8px; margin-right: 0; margin-bottom: 15px; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .promo_list ul li a .img_box .badge {left:10px; top:10px;}
    .promo_list ul li a .img_box .badge img {width: 40px; }

    .promo_list ul li a .infor_box {padding: 10px 8px 0 8px; height: 150px;}
    .promo_list ul li a .infor_box .cate {width: 32px; height: 20px; margin-bottom: 5px; font-size:11px; line-height:20px; background-size: 32px 20px;}
    .promo_list ul li a .infor_box .cate.blue { background-size: 32px 20px;}
    .promo_list ul li a .infor_box .tit {height: 32px; font-size:14px; line-height:16px; margin-bottom: 13px; } 
    .promo_list ul li a.diary .infor_box .tit {margin-bottom: 20px; }

    .promo_list ul li a .infor_box .txt {margin-bottom: 0; line-height:18px; font-size:11px; }
    .promo_list ul li a .infor_box .exp {margin-bottom: 0px; line-height:18px; font-size:11px; }
    .promo_list ul li a .infor_box .exp .like {display:block; position:static; padding-left: 15px;}
    .promo_list ul li a .infor_box .exp .amount {display:block; position:static; }

    .down_file_box {margin-bottom: 25px; }
    .down_file_box .list_box {padding-left: 80px; height: 40px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
    .down_file_box .list_box .tit {width: 80px; height: 40px; }
    .down_file_box .list_box .tit strong {padding-left: 15px; line-height:40px; font-size:12px; }
    .down_file_box .list_box .downfile {padding-left: 15px; padding-top: 8px; }
    .down_file_box .list_box .downfile a {font-size:12px; line-height:18px; }

    /*layer popup*/
    .login_layerpopup .inner_box {width: 100%; height: 100%; left:0; top:0; margin: 0 0 0 0;}
    .login_layerpopup .inner_box .layer_top {height: 40px;  padding: 0 15px;}
    .login_layerpopup .inner_box .layer_top .tit {font-size:20px; line-height:40px;} 
    .login_layerpopup .inner_box .layer_conts {padding: 30px 15px;}
    .login_layerpopup .inner_box .layer_conts .login_box {padding: 15px; border-top: solid 2px #33a5fc; }
    .login_layerpopup .inner_box .layer_conts input[type="text"] {width: 100%; height: 30px; padding: 0 5%; line-height:30px; font-size:14px; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .login_layerpopup .inner_box .layer_conts input[type="password"] {width: 100%; height: 30px; padding: 0 5%; line-height:30px; font-size:14px; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .login_layerpopup .inner_box .layer_conts .input_box {padding-left: 70px; margin-bottom: 5px; }
    .login_layerpopup .inner_box .layer_conts .input_box label {font-size:14px; line-height:30px;}
    .login_layerpopup .inner_box .layer_conts .id_pass_chk {font-size:12px; line-height:18px; margin-bottom: 12px; }
    .login_layerpopup .inner_box .layer_conts .submit {height: 30px; font-size:14px; line-height:30px; }
    .login_layerpopup .inner_box .layer_conts .btn_box {padding: 25px 15px 0px 15px ; }
    .login_layerpopup .inner_box .layer_conts .btn_box .btn_navers {margin-bottom: 10px; height: 30px; font-size:14px; line-height:30px; background-size:30px; }
    .login_layerpopup .inner_box .layer_conts .btn_box .btn_green {margin-bottom: 10px; height: 35px; font-size:15px; line-height:35px; background-size:30px; }
    .login_layerpopup .inner_box .layer_conts .btn_box .btn_joins {height: 35px; font-size:15px; line-height:35px; background-size:30px; }
    .login_layerpopup .inner_box .close {position:absolute; right:15px; top:5px; }
    .login_layerpopup .inner_box .close img {width: 30px; }

	.login_layerpopup.type2 .inner_box {width:100%; margin-left:0; position:relative;}

	.login_layerpopup .price_table {position:absolute; left:5%; top:60px; width:90%; height:84%; overflow-x:hidden; overflow-y:scroll;}
	.login_layerpopup .price_table img {width:100%; margin-bottom:15px;}
	.login_layerpopup .price_table ul li {margin-top:5px; font-size:12px; line-height:16px;}
	.login_layerpopup .price_table ul li:first-child {margin-top:0px;}

    .password_layerpopup .inner_box {width: 100%; height: 100%; left:0; top:0; margin: 0 0 0 0;}
    .password_layerpopup .inner_box .layer_top {height: 40px;  padding: 0 15px;}

    .password_layerpopup .inner_box .layer_top .tit {font-size:20px; line-height:40px;} 
    .password_layerpopup .inner_box .layer_conts {padding: 30px 15px; }
    .password_layerpopup .inner_box .layer_conts .login_box {padding: 15px; border-top: solid 2px #33a5fc; }
    .password_layerpopup .inner_box .layer_conts input[type="text"] {width: 100%; height: 30px; padding: 0 5%; line-height:30px; font-size:14px; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .password_layerpopup .inner_box .layer_conts input[type="password"] {width: 100%; height: 30px; padding: 0 5%; line-height:30px; font-size:14px; 
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .password_layerpopup .inner_box .layer_conts .input_box {padding-left: 70px; margin-bottom: 5px; }
    .password_layerpopup .inner_box .layer_conts .input_box label {font-size:14px; line-height:30px;}
    .password_layerpopup .inner_box .layer_conts .id_pass_chk {padding-left: 70px; font-size:12px; line-height:18px; margin-bottom: 12px; }
    .password_layerpopup .inner_box .layer_conts .submit {height: 30px; font-size:14px; line-height:30px; }
    .password_layerpopup .inner_box .close {position:absolute; right:15px; top:5px; }
    .password_layerpopup .inner_box .close img {width: 30px; }
    
    .equipment {height:auto; background:none;}
    .equipment img {display:block; width:100%;}


	#layer_popup.layer_popup { padding:0 20px; position:absolute; left:0; top:45px; width:100%; display:none;}
	#layer_popup.layer_popup .img { display:none; }

	#layer_popup.layer_popup .img_m { display:block; max-width:1024px; max-height:800px; width:90%; _width:300px; _height:100%; }
	#layer_popup.layer_popup .close_wrap {width:90%;_width: 300px;height: 40px;line-height:40px;position:relative;color:#fff;text-align:right;background-color:#171717;top: -1px;}
	#layer_popup.layer_popup .close_wrap label { padding-right:50px; }
	#layer_popup.layer_popup .close_wrap a { position:absolute; right:0px; top:0px; }
